<?PHP if(isset($add_sucess) && $add_sucess){ ?>
    <div class="msg-add-sucess"> 
        Pedido de troca enviado com sucesso! <br>
        Alguém de nossa equipe entrará em contato com você!
    </div>
<?PHP } ?>
