<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Compra Premiada Reparadores</title>
        <meta charset="utf-8">
        
        <link rel="stylesheet" href="<?PHP echo $this->Html->url('/off/styles.css',true); ?>">
    </head>
    <body>
        <img src="<?PHP echo $this->Html->url('/img/logo2021.png',true); ?>">
        <h1>O site está sendo atualizado. <br> Em breve você poderá acessá-lo novamente.</h1>
    </body>
</html>