<?PHP 
    if(isset($add_sucess) && $add_sucess){ 
?>
    <div class="container-fix">
        <div class="msg-add-sucess"> Cadastrado realizado com sucesso. </div>
    </div>
    <script>
        setTimeout( function() { 
            window.location.href='<?= $this->Html->url('/produtos',true); ?>';
        },2000);
    </script>
<?PHP } ?>
    