<?PHP $post=array_shift($post); ?>

<fieldset class="box">
    <legend>Dados</legend>    
    <dl class="description">
        <dt>Nome:</dt><dd><?PHP echo $post['nome']?></dd>
        <dt>Cpf:</dt><dd><?PHP echo $post['cpf']?></dd>
        <dt>Telefone:</dt><dd><?PHP echo $post['telefone']?></dd>
        <dt>Cidade:</dt><dd><?PHP echo $post['cidade']?></dd>
        <dt>Endereço:</dt><dd><?PHP echo $post['endereco']?></dd>
        <dt>E-mail:</dt><dd><?PHP echo $post['email']?></dd>
        <dt><br></dt><dd><br></dd>
        <dt>Data Cadastro:</dt><dd><?PHP echo $post['cdate']?></dd>
    </dl>    
</fieldset>
