<?PHP if(isset($add_sucess) && $add_sucess){ ?>
    <div class="container-fix"> 
<!--        <div class="msg-add-sucess"> 
            Pedido de troca enviado com sucesso! <br>
            Alguém de nossa equipe entrará em contato com você!
        </div>-->
        <div class="msg-add-sucess"> 
            <div class="row">
                Troca confirmada. <br>
                Prazo de entrega em até 60 dias úteis.
            </div>
            <div class="row button-gi">
                <?PHP echo $this->Html->link('<i class="fas fa-home"></i> Voltar a página inicial',array('plugin'=>false,'controller'=>'pages','action'=>'home'),array('escape'=>false)); ?>
            </div>
        </div>

        
    </div>
<?PHP } ?>
