<?PHP
echo $this->Form->create('Aempresa',array('url'=>array('plugin'=>'aempresa','controller'=>'aempresa','action'=>'add')));
?>

<fieldset class="box">
    <legend>Sobre</legend>
    <?PHP
        echo $this->Form->input('texto',array('label'=>'Texto','class'=>'ckeditor'));    
//        echo $this->Form->input('missao',array('label'=>'Missão','class'=>'ckeditor'));    
//        echo $this->Form->input('visao',array('label'=>'Visão','class'=>'ckeditor'));    
//        echo $this->Form->input('valores',array('label'=>'Valores','class'=>'ckeditor'));    
//        echo $this->Form->input('area_atuacao',array('label'=>'Área de Atuação','class'=>'ckeditor'));    
    ?>
</fieldset>

<?PHP
//echo $this->element('Painel.image',array('label'=>'Imagem Destaque','name'=>'imagem'));
//echo $this->element('Painel.videos',array('label'=>'Vídeo'));
//echo $this->element('Painel.gallery',array('label'=>'Imagens'));
echo $this->Form->hidden('id');
echo $this->Form->end('Enviar');
?>