<?PHP 
//    pre($post['Cliente']);
?>

<fieldset class="box">
    <legend>Cadastro</legend>    
    <dl class="description">
        <dt>CNPJ:</dt><dd><?PHP echo $post['Cliente']['cnpj']?></dd>
        <dt>Nome Fantasia:</dt><dd><?PHP echo $post['Cliente']['nome_fantasia']?></dd>
        <dt>Nome:</dt><dd><?PHP echo $post['Cliente']['nome']?></dd>
<!--        <dt>CPF:</dt><dd><?PHP echo $post['Cliente']['cpf']?></dd>
        <dt>Sexo:</dt><dd><?PHP echo $post['Cliente']['sexo']?></dd>
        <dt>Data Nascimento:</dt><dd><?PHP echo $post['Cliente']['data_nascimento']?></dd>-->
        <dt>Telefone 1:</dt><dd><?PHP echo $post['Cliente']['telefone1']?></dd>
        <dt>Telefone 2:</dt><dd><?PHP echo $post['Cliente']['telefone2']?></dd>
<!--        <dt>Cep:</dt><dd><?PHP echo $post['Cliente']['cep']?></dd>
        <dt>Cidade:</dt><dd><?PHP echo $post['Cliente']['cidade']?></dd>
        <dt>Estado:</dt><dd><?PHP echo $post['Cliente']['estado']?></dd>
        <dt>Endereço:</dt><dd><?PHP echo $post['Cliente']['endereco']?></dd>
        <dt>bairro:</dt><dd><?PHP echo $post['Cliente']['bairro']?></dd>
        <dt>Número:</dt><dd><?PHP echo $post['Cliente']['numero']?></dd>-->
        <dt>Qual seu vendedor:</dt><dd><?PHP echo $post['Cliente']['qual_vendedor']?></dd>
        <!--<dt>Complemento:</dt><dd><?PHP // echo $post['Cliente']['complemento']?></dd>-->
        <dt>E-mail:</dt><dd><?PHP echo $post['Cliente']['email']?></dd>
        <dt>Fipal:</dt><dd><?PHP echo $post['Conce']['title']?></dd>
        <dt>Termos de Uso:</dt><dd><?PHP echo $this->Html->image('ativo_'.$post['Cliente']['termos'].'.png',array('alt'=>'')); ?></dd>
    </dl>    
</fieldset>



<style type="text/css">

dt { 
    width: 90px !important;
}
    
.title{
    color:#000;
    font-size: 16px;
    font-weight: bold;
}

.trp {
    border-bottom: 1px solid #CCCCCC;
    height: 30px;
    font-size: 15px;
}

.tdpn {
    color: #666666;
    font-size: 15px;
    width: 600px;   
    padding-top: 7px;
}

.tdpq {
    color: #666666;
    width: 50px;    
    font-size: 15px;
}

.tdpv {
    color: #666666;
    width: 80px;    
    font-size: 15px;
}

.tdpt {
    color: #666666;
    width: 150px;    
    font-size: 15px;
}

.tdtotal {
    color:#000;
    font-weight: bold;   
    font-size: 15px;
    padding-top: 7px;
}
</style>