<html>
    <body bgcolor="#FFFFFF" text="#000000" style="font-family: 'Verdana'; padding: 10px;">
        <p>
            Conteúdo de <?PHP echo $conteudo; ?> atualizado.
        </p>
        <p>
            <a href="<?PHP echo $this->Html->url('/admin/'.$link,true); ?>" target="_blank">Clique aqui para aprovar o conteúdo.</a>
        </p>
    </body>
</html>
