<div id="box-gasto" class="gasto">
    <div class="box" style="background-color: #fff;">
        <div class="p-escuro">Gasto médio mensal com energia:</div>
        <input type="range" id="id-simulador-range" min="0" value="0" max="80" step="1">
        <span id="output">R$1.5000,00</span>
    </div>
    <div class="box" style="background-color: #ccc;">
        <div class="p-escuro">Economia em 25 anos:</div>
        <div class="resultado" id="js-retorno-calculo">R$71.228,86</div>
    </div>
</div>

<script>
    var values=["50,00",
"100,00",
"150,00",
"200,00",
"250,00",
"300,00",
"350,00",
"400,00",
"450,00",
"500,00",
"550,00",
"600,00",
"650,00",
"700,00",
"750,00",
"800,00",
"850,00",
"900,00",
"950,00",
"1.000,00",
"1.100,00",
"1.200,00",
"1.300,00",
"1.400,00",
"1.500,00",
"1.600,00",
"1.700,00",
"1.800,00",
"1.900,00",
"2.000,00",
"2.100,00",
"2.200,00",
"2.300,00",
"2.400,00",
"2.500,00",
"2.600,00",
"2.700,00",
"2.800,00",
"2.900,00",
"3.000,00",
"3.100,00",
"3.200,00",
"3.300,00",
"3.400,00",
"3.500,00",
"3.600,00",
"3.700,00",
"3.800,00",
"3.900,00",
"4.000,00",
"4.100,00",
"4.200,00",
"4.300,00",
"4.400,00",
"4.500,00",
"4.600,00",
"4.700,00",
"4.800,00",
"4.900,00",
"5.000,00",
"5.500,00",
"6.000,00",
"6.500,00",
"7.000,00",
"7.500,00",
"8.000,00",
"8.500,00",
"9.000,00",
"9.500,00",
"10.000,00",
"11.000,00",
"12.000,00",
"13.000,00",
"14.000,00",
"15.000,00",
"16.000,00",
"17.000,00",
"18.000,00",
"19.000,00",
"20.000,00"];
var calculo=["10.533,99",
"43.452,69",
"76.371,40",
"109.290,11",
"142.208,82",
"175.127,52",
"208.046,23",
"240.964,94",
"273.883,64",
"306.802,35",
"339.721,06",
"372.639,77",
"405.558,47",
"438.477,18",
"471.395,89",
"504.314,59",
"537.233,30",
"537.233,30",
"603.070,72",
"635.989,42",
"635.989,42",
"767.664,25",
"833.501,67",
"899.339,08",
"965.176,50",
"1.031.013,91",
"1.096.851,32",
"1.162.688,74",
"1.228.526,15",
"1.228.526,15",
"1.360.200,98",
"1.426.038,40",
"1.491.875,81",
"1.557.713,22",
"1.623.550,64",
"1.689.388,05",
"1.755.225,47",
"1.821.062,88",
"1.821.062,88",
"1.952.737,71",
"2.018.575,13",
"2.084.412,54",
"2.150.249,95",
"2.216.087,37",
"2.281.924,78",
"2.347.762,20",
"2.413.599,61",
"2.479.437,03",
"2.545.274,44",
"2.611.111,85",
"2.676.949,27",
"2.742.786,68",
"2.808.624,10",
"2.874.461,51",
"2.940.298,93",
"3.006.136,34",
"3.071.973,76",
"3.137.811,17",
"3.203.648,58",
"3.269.486,00",
"3.598.673,07",
"3.927.860,14",
"4.257.047,21",
"4.586.234,29",
"4.915.421,36",
"4.915.421,36",
"4.915.421,36",
"5.573.795,50",
"5.902.982,57",
"6.232.169,65",
"6.561.356,72",
"7.219.730,86",
"7.878.105,01",
"8.536.479,15",
"9.194.853,29",
"9.853.227,44",
"10.511.601,58",
"11.169.975,73",
"11.828.349,87",
"12.486.724,01",
"13.145.098,16"];
var input=document.getElementById('id-simulador-range'),
output=document.getElementById('output');
input.oninput=function() {
    if(this.value<80) {
        output.innerHTML="R$ "+values[this.value];
        $("#js-retorno-calculo").text("R$ "+calculo[this.value].toLocaleString('pt-br', {
            style: 'currency', currency:'BRL'
        }
        ));
    }
    else {
        output.innerHTML="Acima de R$ 20.000,00";
        $("#js-retorno-calculo").text("Sob consulta");
    }
}
;
input.oninput();
</script>