<div class="bg-gray bgpb">
    <section class="container-fix top-content">
        <?PHP
            $this->Html->addCrumb('Inicial','/'); 
            $this->Html->addCrumb('Regulamento',array('plugin'=>'aempresa','controller'=>'aempresa','action'=>'index')); 
            echo $this->element('breadcrumb');
        
            echo '<h1 class="h1p">Sobre a Campanha</h1>';
        ?>
       
        <div class="row">
            <div class="row texto">
                <?PHP echo $post['Aempresa']['texto']; ?>
            </div>
        </div>
        
    </section>
</div>
