<?PHP
echo $this->Form->create('User', array('type' => 'file'));
?>

<fieldset class="box image">
    <legend>Informações de login</legend>
    <?PHP
    echo $this->Form->input('password', array('label' => 'Senha atual','value'=>''));
    echo $this->Form->input('password_new', array('label' => 'Nova senha', 'type' => 'password','value'=>''));
    echo $this->Form->input('password_retype', array('label' => 'Redigite a senha', 'type' => 'password','value'=>''));
    ?>
</fieldset>

<?PHP echo $this->Form->end('Enviar'); ?>