@import "default";

.box.videos .items .item{
    
    display: block;
    border: 1px solid #CCC;
    padding:20px;
    .border-radius;
    height:100px;
    position:relative;
    margin-bottom:20px;
    .gradient(#FFF,#DDD);
    
    img{
        height:100px;
        float:left;
    }
    
    a.remove{
        width:20px;
        height:20px;
        background:url(../img/close.png);
        position:absolute;
        top:-10px;
        right: -10px;
        overflow:hidden;
        text-indent: -100em;
    }
    
    input[type=text]{
        width:470px;
        float:right;
        padding:10px;
        margin-top: 30px;
        margin-right:10px;
        .border-radius;
        border:1px solid #DDD;
    }
    
}