@import "default.less";

html{    
    min-height:100%;
}

body{
    margin:0;
    padding:0;
    background:url('../img/login/background.png') no-repeat bottom right #00A9D4;
}

div#login{
    width:100%;
    height:300px;
    display:block;
    position:absolute;
    top:50%;
    margin-top:-150px;
    overflow:hidden;
    div.left{
        width:48%;
        height:300px;
        display:block;
        position:relative;
        float:left;
        background:#fff;
        img{
            float:right;
            display:block;
            position:relative;
            padding:135px 80px 78px 0;
        }
    }
    div.right{
        width:48%;
        height:300px;
        display:block;
        position:relative;
        float:right;
        div.input{
            display:table;
            position:relative;
            margin-bottom:8px;
        }
        h1{
            .verdana(16px,#fff,bold);
            width:308px;
            display:block;
            position:relative;
            line-height:1.4;
            padding:15px 0;
            border-bottom:2px solid #fff;
            margin-bottom:40px;
        }
        h3{
            .verdana(12px,#e4bcbe,bold);
            display:block;
            position:absolute;
            top:83px;
            left:0;
            line-height:2;
            padding-left:30px;
            background:url('../img/login/error.png') no-repeat left center;
        }
        form{
            position:relative;
            width:308px;
            label{
                width:76px;
                display:block;
                position:relative;
                float:left;
                .verdana(13px,#fff,bold);
                text-align:left;
                text-transform:uppercase;
                line-height:2.2;
            }
            input[type='text'],input[type='password'],input[type='email']{
                width:200px;
                display:block;
                position:relative;
                float:right;
                background:#fff;
                border:none;
                .verdana(13px,#555,bold);
                padding:5px 15px;
            }
            input[type='submit']{
                display:block;
                position:relative;
                clear:both;
                background:#000;
                .verdana(13px,#fff,bold);
                text-align:center;
                padding:5px 15px;
                cursor:pointer;
                border:0;
                width:100%;
                text-transform:uppercase;
            }
            #recover,#pannel{
                display:block;
                position:relative;
                .verdana(13px,#fff,bold);
                text-transform:uppercase;
                padding-left:30px;
                padding-top:5px;
                padding-bottom:5px;
                background:url('../img/login/recover.png') no-repeat left center;
                margin-top:22px;
                text-decoration:none;                
            }
        }
        form#login-form{
            display:block;
        }
        form#recover-form{
            display:none;
        }
    }
}