<?PHP
echo $this->Form->create('Galeria',array('url'=>array('action'=>'add')));
?>

<fieldset class="box">
    <legend>Galeria</legend>
    <?PHP
    echo $this->Form->input('title',array('label'=>'Título'));
//    echo $this->Form->input('texto',array('label'=>'Descrição'));
    ?>
</fieldset>

<?PHP
echo $this->element('Painel.image',array('label'=>'Foto','name'=>'imagem'));
//echo $this->element('Painel.gallery',array('label'=>'Imagens'));
//echo $this->element('Painel.videos',array('label'=>'Vídeos'));
echo $this->Form->hidden('id');
echo $this->Form->end('Enviar');
?>