<div class="shareBox">
    <div class="row">
        <h4>Compartilhe:</h4>
    </div>
    <div class="row">
        <div class="row">
            
            <div class="ssi facebookl">
                <iframe src="https://www.facebook.com/plugins/like.php?href=<?PHP echo $url; ?>&layout=button_count&action=like&size=small&show_faces=true&share=true&height=80&appId=212919932490782" width="100%" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="ssi twitter">
                <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: pt_BR</script>
                <script type="IN/Share"></script>
            </div>
            <div class="ssi twitter">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="<?PHP echo $url ?>" data-text="<?PHP echo $title?>" data-lang="pt">Tweetar</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
            <div class="ssi share-whatsapp">
                <a href="whatsapp://send?text=<?PHP echo $url; ?>" data-action="share/whatsapp/share" target="_blank">
                    <span class="sharewhats" title="Compartilhar no WhatsApp"></span>
                </a>
            </div>
        </div>
    </div>
</div>