<fieldset class="box">
    <legend>Buscas (<?PHP echo $total; ?>)</legend>
<!--    <nav class="pannel">
        <?PHP // echo $this->Html->link('Gerar CSV',array('plugin'=>'buscas','controller'=>'buscas','action'=>'report','admin'=>true)) ?>
    </nav>-->
    <table class="tables">
        <thead>
            <tr>
                <td><?PHP echo $this->Paginator->sort('title','Busca')?></td>
                <td><?PHP echo $this->Paginator->sort('total','Total')?></td>
            </tr>
        </thead>
        <tbody>
            <?PHP 
                foreach($posts as $post){ 
            ?>
            <tr>
                <td><?PHP echo $post['Busca']['title']?></td>
                <td><?PHP echo $post[0]['total']?></td>
            </tr>
            <?PHP } ?>
        </tbody>
    </table>
    <?PHP echo $this->element('Painel.paginator');?>
</fieldset>
