@import "default";

::selection {
    background: #CC0;
    color:#FFF;
}
::-moz-selection {
    background: #CC0;
    color:#FFF;
}

#progress{
    height:100px;
    float:right;
    display:block;
    position:relative;
    width:590px;
    background:#DDD;
    .loading{
        width:100%;
        height:100px;
        float:left;
        background:#555;
        font-family:'Verdana',sans-serif;
        color:#fff;
        font-size:30px;
        font-weight:bold;
        text-align:center;
        line-height:3.3;
    }
}

a.addnew{
    width:100%;
    border:1px solid #ccc;
    border-radius: 10px;
    display:block;
    position:relative;
    margin:30px 0;
    .gradient(#b00000,#5f0000);
    padding:20px 0;
    text-align:center;
    text-decoration:none;
    span{
        background:url('../img/new-job.png') no-repeat left center;
        .open(20px,#fff,700);
        text-transform:uppercase;
        padding:30px 0 30px 120px;
        margin:auto;
        line-height:1;        
        display:table;
        position:relative;
    }
}

.return,.submit{
    color:white;
    position:relative;
    margin-top:30px;
    margin-bottom:30px;
    text-align:center;
    text-transform:uppercase;
    line-height:1;
    width:750px;
    display:block;
    font-size:13px;
    font-family:'Verdana',sans-serif;
    font-weight:bold;
    text-decoration:none;
    border-radius: 10px;
    overflow:hidden;
    input{
        padding:30px 0;
        border:0;
        width:100%;
        height:100%;
        cursor:pointer;
        color:white;
        font-family:'Verdana',sans-serif;
        font-weight:bold;
        line-height:1;
        text-transform:uppercase;
        background:url('../img/icon-send.png') no-repeat 50px center green;
    }
}
.return{
    background:url('../img/icon-return.png') no-repeat 50px center red;
    padding:30px 0;
}

.hidden{
    display:none;
}

html{
    background:url(../img/bgmainmenu.png) repeat-y #EEE;
    min-height: 100%;
    font-size:62.5%;
}

body{
    height: 300px;
    margin: 20px 20px 20px 250px;
    font-family: arial;
    font-size:1.2em;
}

#contents{
    padding-bottom: 10px;
}

fieldset.box{
    display:block;
    background: #FFF;
    border: 1px solid #CCC;
    padding:20px;
    padding-top:60px;
    .border-radius(10px);
    .box-shadow(3px 3px 3px #CCC);
    position:relative;
    margin-bottom:30px;
    overflow:visible;
    cursor:initial;
    &:last-child{
        clear:both;
        display:block;
    }
    .gradient(#FFF,#EFEFEF);
    legend{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        .gradient(#eeeeee,#e5e5e5);
        font-size:1.5em;
        padding:12px;
        .border-radius(10px 10px 0 0);
        .box-sizing;
        .text-shadow(1px 1px 0 #FFF);
        color:#888;
        cursor:pointer;
    }
    
    &.valums{
        .file,.downloads{
            position:absolute !important;
            top:5px;
            right:5px;
            .gradient(#FFF,#CCC);
            padding:5px;
            .border-radius;
            border:1px solid #CCC;
        }
    }
    
    &.file,&.models,&.downloads{
        .topbar-file{
            margin:0;
            padding:0;
            border:none;
            background:none;
        }
        .file,.topbar-file,.downloads{
            position:absolute;
            top:5px;
            right:5px;

            label{
                .border-radius;
                .gradient(#FFF,#CCC);
                padding:6px;
                border:1px solid #CCC;
                margin-top:0;
            }

            input[type=file]{
                position:absolute;
                top:0;
                left:0;
                .opacity(0);
                cursor:pointer;
            }
            .progress{
                position:absolute;
                top:0;
                left:0;
                width:0;
                height:100%;
                .border-radius;
                .rgba(#000000,.5);
            }
        }
    }
    
    ul.menu{
        position:absolute;
        top:5px;
        right:180px;
        a{
            color:#000;
            text-decoration:none;
            padding:8px;
        }
        &>li{
            display:inline;
            float:left;
            position:relative;
            width:160px;
            &>a{
                .gradient(#FFF,#CCC);
                border:1px solid #CCC;
                width:150px;
                float:left;
                text-align:center;
            }
            &>ul{
                display:none;
                position:absolute;
                top:30px;
                left:5px;
                width:150px;
                .rgba(#000,.9);
                .border-radius(0 0 5px 5px);
                li{
                    display:block;
                }
                a{
                    color:#FFF;
                    padding:10px 3px;
                    display:block;
                }
            }
            &:hover>ul{
                display:block;
            }
            &:first-child a{ .border-radius(5px 0 0 5px); }
            &:last-child a{ .border-radius(0 5px 5px 0); }
            &:only-child a{ .border-radius; }
        }
    }
    
    .sortable{
        padding-top:40px;
    }
}

#mainmenu{
    position: absolute;
    top:0;
    left: 0;
    width: 200px;
    padding:25px;
    color:#888;
    
    img{
        margin-top:20px;
        margin-bottom:30px;
    }
    
    .user-pannel{
        margin-top:10px;
        .rgba(#FFF,.1);
        padding:10px;
        .border-radius;
        text-align:center;
        a{
            margin:0 6px;
        }
    }
    
    .usuario{
        margin:20px 0 40px;
        .logout{
            float:right;
            margin-right:10px;
        }
    }
    
    span.user{
        color:#999;
        span{
            color:#FFF;
            font-weight:bold;
        }
    }
    
    a{
        color:#FFF;
    }
    
    hr{
        border: none;
        border-top: 1px solid #444;
        margin-left:30px;
    }
    
    ul.menu{
        margin-right: -5px;
        a{
            display:block;
            text-decoration: none;
            padding:5px;
            text-align: right;
        }
        &>li{
            margin-bottom:1px;
            &.open>a{
                .gradient(#fff,#bbb);
                color:#333;
            }
            ul{
                margin-bottom:5px;
            }
        }
        &>li>a{
            padding:8px;
            .border-radius(5px 0 0 5px);
            font-size:1.3em;
            margin-bottom:2px;
            background-color: #00A9D4;
            color:#fff;
            &:hover{
                .gradient(#fff,#bbb);
                color:#333;
            }
        }
        ul{
            display:none;
        }
        li.open ul{
            display:block;
        }
    }
}

table.tables{
    width: 100%;
    border-spacing: 0;
    margin-top:60px;
    thead{
        width:100%;
        tr{
            td{
                color: #069;
                text-decoration: none;
                padding:5px;
                padding-bottom:20px;
                font-size: 1.3em;
                &.edit{
                    width: 50px;
                }
                &.date{
                    width:150px;
                }
                a{
                    color:#069;
                    text-decoration:none;
                    font-weight:bold;                    
                    &.asc{
                        &:before{
                            content:"▲";
                            margin-right:5px;
                            color:#F00;
                        }   
                    }                    
                    &.desc{
                        &:before{
                            content:"▼";
                            margin-right:5px;
                            color:#F00;
                        }   
                    }
                }
            }
        }
    }
    
    tbody{
        
        tr{
            .transition;
            td{
                padding:20px 5px;
                cursor:default;
                color:#777;
                font-size:12px;
                border-bottom:1px solid #DDD;
            }
            &:hover{
                background:#EEE;
                td{ color:#000; }
            }
            &:last-child{
                td{
                    border:none;
                }
            }
            &.background-red td{
                    color:#900;
            }
        }
        a{
            color:#069;
            text-decoration:none;
        }
    }
    &.hidden{
        display:none;
        padding-top:0;
        overflow:hidden;
    }
    
}

nav.paginator{
    
    padding:50px 0 10px 0;
    text-align:center;
    
    span{
        color:#BBB;
        padding:0 5px;
        cursor:default !important;
        &.current{
            position:relative;
            bottom:-3px;
            color:#000;
            font-size:2em;
            font-weight:bold;
            color:#F00;
        }
        a{
            color:#069;
            text-decoration:none;
        }
    }    
}

form{
    
    width:750px;    
    
    .text,.password,.select,textarea,.email{
        margin-bottom:10px;
    }
    
    label{
        display:block;
        font-size:15px;
        font-style:normal;
        margin-bottom:5px;
        margin-top:20px;
        color:#777;
    }
    
    .checkbox label{
        display:inline;
    }
    
    .half .checkbox{
        width:50%;
        float:left;
    }
    
    .text>input,textarea,select,.password>input,.number>input,.email>input,.tel>input{
        width:100%;
        .border-radius(3px);
        .box-sizing;
        .box-shadow(2px 2px 2px #E9E9E9);
        border:1px solid #CCC;
        padding:5px;
        color:#888;
    }
    
    .textarea{
        margin:20px 0;
    }
    
    textarea{
        resize:vertical;
    }
    
    .error{
        label{
            color:#900;
        }
        input,textarea,select{
            border:1px solid #900;
        }
    }
    
    .error-message{
        color:#900;
        margin-bottom:20px;
        margin-top:5px;
    }
    
    .topbar-file{
        position:absolute;
        top:7px;
        right:7px;
        overflow:hidden;
        background:url(../img/bgpannellinks.png);
        padding:5px;
        border:1px solid #999;
        .border-radius(5px);
        label{
            cursor:default;
        }
        input{
            cursor:default;
            .opacity(0);
            position:absolute;
            top:0;
            left:0;
        }
    }
}

nav.buttons{
    position:absolute;
    top:15px;
    right:5px;
    a{
        background:url(../img/bgpannellinks.png) repeat-x;
        color:#555;
        font-style:italic;
        padding:5px;
        border:1px solid #999;
        .border-radius(5px);
        text-decoration:none;
    }
}

span.tabspace{
    padding-left:50px;
    &:last-child{
        &:after{
            content:">";
            margin-right:10px;
        }
    }
}

h1.message{
    margin:20px 0;
    padding:10px;
    border:1px solid #DDD;
    .border-radius;
    .box-shadow;
    color:#FFF;
    
    &.green{ background:#006400; }
    &.blue{ background:#5BF; }
    &.reg{ background:#900; }
}

div#adminbar>nav>a{
    text-decoration: none;
    color: #999;
    padding: 0 10px;
    border-right: 1px solid #555;
}

div#adminbar>nav>a:last-child{
    border: none;
    padding-right: 0;
}

.box>.pannel{
    position: absolute;
    top:5px;
    right:5px;
    background: url('../img/bgpannellinks.png');
    border: 1px solid #999;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.box>.pannel>a{
    padding: 0 10px;
    color:#333;
    line-height: 2.2;
    text-decoration: none;
    border-left: 1px solid #FFF;
    border-right: 1px solid #AAA;
    float: left;
}

.box>.pannel>a:first-child{
    border-left: none;
}

.box>.pannel>a:last-child{
    border-right:none;
}

.input.file>label{
    cursor:pointer;
}

nav.languages,
nav.sectors{
    height:32px;
    clear: both;
    border: 1px solid #999;
    border-radius:10px;
    overflow:hidden;
    display:block;
    background: #DDD;
    margin-bottom:20px;
}

nav.languages>a,
nav.sectors>a{
    padding: 10px;
    float: left;
    text-decoration: none;
    color: #555;
}

nav.languages .active,
nav.sectors .active{
    background: #555;
    color: #FFF;
}

dl.description{
    margin:0;
    padding:0;
    font:normal 13px "Verdana", serif;
}

dl.description>dt{
    margin: 0;
    padding:5px 0;
    width: 180px;
    text-align:right;
    float: left;
    clear: left;
    font-weight: bold;
}

dl.description>dd{
    width: 500px;
    float: left;
    margin: 0;
    padding: 5px 0 5px 10px;
    font:normal 13px "Verdana", serif;
}
dl.description>dd>a {
    font:normal 13px "Verdana", serif;
    color:#666;
}

.developer{
    font-family:'verdana',sans-serif;
    font-size:10px;
    color:#fff;
    font-weight: bold;
    display:block;
    position:relative;
    margin-top:50px;
    text-align:left;
}

table#pedidos{
    display:block;
    position:relative;
    width:100%;
    .border-radius(10px);
    overflow:hidden;
    thead{
        width:100%;
        display:block;
        tr{
            width:100%;
            display:block;
            background:#222;
            th{
                display:inline-block;
                text-align:left;
                .roboto(15px,#fff,400);
                line-height:1;
                padding:25px 0;
                text-indent:30px;
                border-left:1px dashed #999;
                &:first-child{
                    border-left:0;
                }
            }
        }
    }
    tbody{
        width:100%;
        display:block;
        tr{
            width:100%;
            display:block;
            background:#e9e9e9;
            border-top:1px dashed #999;
            td{
                display:inline-block;
                text-align:left;
                .verdana(12px,#666,normal);
                line-height:1;
                padding:18px 0;
                text-indent:30px;
                border-left:1px dashed #999;
                &:first-child{
                    border-left:0;
                    font-weight:bold;
                }
            }
            &:first-child{
                border-top:0;
            }
        }
    }
    tr{
        .numero{
            width:110px;
        }
        .serie{
            width:90px;
        }
        .emissao{
            width:135px;
        }
        .valor{
            width:150px;
        }
        .transportadora{
            width:180px;
        }
    }
}