<?PHP 
    if(isset($add_sucess) && $add_sucess){ 
?>
    <div class="container-fix">
        <div class="msg-add-sucess"> 
            Link para recuperação de senha enviado para o seu e-mail. <br> 
        </div>
        <div class="msg-add-sucess msg-false-forget"> 
            Caso não tenha recebido em sua caixa de entrada, verifique também em sua caixa de <b>Spam</b> e <b>Lixo.</b> 
        </div>
    </div>
<?PHP
}else{ 
?>
    
<?PHP } ?>