<?PHP $post = array_shift($post); ?>
<fieldset class="box">
    <legend>Dados</legend>    
    <dl class="description">
        <dt>E-mail:</dt><dd><?PHP echo $post['email']; ?></dd>
        <dt>Enviado em:</dt><dd><?PHP echo $post['cdate']; ?></dd>
    </dl>    
</fieldset>
