<fieldset class="box">
    <legend>Sub Categoria:</legend>
    <?PHP echo $this->Form->input('subcategoria_id',array('type'=>'select','options'=>$sub_categorias,'label'=>false,'name'=>'data[Produto][subcategoria_id]')); ?>
</fieldset>