@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium Web Light'), local('TitilliumWeb-Light'), url(https://fonts.gstatic.com/s/titilliumweb/v6/NaPDcZTIAOhVxoMyOr9n_E7ffGjEGIVzY4SY.woff2) format('woff2');
  unicode-range: U0100-024F, U0259, U1E -1EFF, U2020, U20A -20AB, U20AD-20CF, U2113, U2C 58C 7F, UA720-A7FF;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium Web Light'), local('TitilliumWeb-Light'), url(https://fonts.gstatic.com/s/titilliumweb/v6/NaPDcZTIAOhVxoMyOr9n_E7ffGjEGItzYw.woff2) format('woff2');
  unicode-range: U0000-00FF, U0131, U0152-0153, U02BB-02BC, U02C 6, U02DA, U02DC, U2000-206F, U2074, U20AC, U2122, U2191, U2193, U2212, U2215, UFEFF, UFFFD;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v6/NaPecZTIAOhVxoMyOr9n_E7fdM3mDbRS.woff2) format('woff2');
  unicode-range: U0100-024F, U0259, U1E -1EFF, U2020, U20A -20AB, U20AD-20CF, U2113, U2C 58C 7F, UA720-A7FF;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v6/NaPecZTIAOhVxoMyOr9n_E7fdMPmDQ.woff2) format('woff2');
  unicode-range: U0000-00FF, U0131, U0152-0153, U02BB-02BC, U02C 6, U02DA, U02DC, U2000-206F, U2074, U20AC, U2122, U2191, U2193, U2212, U2215, UFEFF, UFFFD;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'), url(https://fonts.gstatic.com/s/titilliumweb/v6/NaPDcZTIAOhVxoMyOr9n_E7ffHjDGIVzY4SY.woff2) format('woff2');
  unicode-range: U0100-024F, U0259, U1E -1EFF, U2020, U20A -20AB, U20AD-20CF, U2113, U2C 58C 7F, UA720-A7FF;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'), url(https://fonts.gstatic.com/s/titilliumweb/v6/NaPDcZTIAOhVxoMyOr9n_E7ffHjDGItzYw.woff2) format('woff2');
  unicode-range: U0000-00FF, U0131, U0152-0153, U02BB-02BC, U02C 6, U02DA, U02DC, U2000-206F, U2074, U20AC, U2122, U2191, U2193, U2212, U2215, UFEFF, UFFFD;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 900;
  src: local('Titillium Web Black'), local('TitilliumWeb-Black'), url(https://fonts.gstatic.com/s/titilliumweb/v6/NaPDcZTIAOhVxoMyOr9n_E7ffEDBGIVzY4SY.woff2) format('woff2');
  unicode-range: U0100-024F, U0259, U1E -1EFF, U2020, U20A -20AB, U20AD-20CF, U2113, U2C 58C 7F, UA720-A7FF;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 900;
  src: local('Titillium Web Black'), local('TitilliumWeb-Black'), url(https://fonts.gstatic.com/s/titilliumweb/v6/NaPDcZTIAOhVxoMyOr9n_E7ffEDBGItzYw.woff2) format('woff2');
  unicode-range: U0000-00FF, U0131, U0152-0153, U02BB-02BC, U02C 6, U02DA, U02DC, U2000-206F, U2074, U20AC, U2122, U2191, U2193, U2212, U2215, UFEFF, UFFFD;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: .67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: 700;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}
@media (min-width: 550px) {
  .container {
    width: 80%;
  }
  .column,
  .columns {
    margin-left: 4%;
  }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }
  .one.column,
  .one.columns {
    width: 4.66666666667%;
  }
  .two.columns {
    width: 13.3333333333%;
  }
  .three.columns {
    width: 22%;
  }
  .four.columns {
    width: 30.6666666667%;
  }
  .five.columns {
    width: 39.3333333333%;
  }
  .six.columns {
    width: 48%;
  }
  .seven.columns {
    width: 56.6666666667%;
  }
  .eight.columns {
    width: 65.3333333333%;
  }
  .nine.columns {
    width: 74%;
  }
  .ten.columns {
    width: 82.6666666667%;
  }
  .eleven.columns {
    width: 91.3333333333%;
  }
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }
  .one-third.column {
    width: 30.6666666667%;
  }
  .two-thirds.column {
    width: 65.3333333333%;
  }
  .one-half.column {
    width: 48%;
  }
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%;
  }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%;
  }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%;
  }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78%;
  }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }
  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%;
  }
}
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: 400;
}
ul {
  list-style: circle inside;
}
ol {
  list-style: decimal inside;
}
ol,
ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}
li {
  margin-bottom: 1rem;
}
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}
.u-pull-right {
  float: right;
}
.u-pull-left {
  float: left;
}
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}
.mfp-bg,
.mfp-wrap {
  position: fixed;
  left: 0;
  top: 0;
}
.mfp-bg,
.mfp-container,
.mfp-wrap {
  height: 100%;
  width: 100%;
}
.mfp-arrow:after,
.mfp-arrow:before,
.mfp-container:before,
.mfp-figure:after {
  content: '';
}
.mfp-bg {
  z-index: 1042;
  overflow: hidden;
  background: #0b0b0b;
  opacity: .8;
}
.mfp-arrow,
.mfp-close:focus,
.mfp-close:hover {
  opacity: .65;
}
.mfp-wrap {
  z-index: 1043;
  outline: 0 !important;
  -webkit-backface-visibility: hidden;
}
.mfp-container {
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}
.mfp-container:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.mfp-align-top .mfp-container:before {
  display: none;
}
.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}
.mfp-ajax-holder .mfp-content,
.mfp-inline-holder .mfp-content {
  width: 100%;
  cursor: auto;
}
.mfp-ajax-cur {
  cursor: progress;
}
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
.mfp-auto-cursor .mfp-content {
  cursor: auto;
}
.mfp-arrow,
.mfp-close,
.mfp-counter,
.mfp-preloader {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.mfp-loading.mfp-figure {
  display: none;
}
.mfp-hide {
  display: none !important;
}
.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}
.mfp-preloader a {
  color: #CCC;
}
.mfp-close,
.mfp-close-btn-in .mfp-close,
.mfp-preloader a:hover {
  color: #FFF;
}
.mfp-s-error .mfp-content,
.mfp-s-ready .mfp-preloader {
  display: none;
}
button.mfp-arrow,
button.mfp-close {
  overflow: visible;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: 0;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.mfp-close {
  position: fixed;
  right: 25px;
  top: 10px;
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-size: 44px;
}
.mfp-close:active {
  top: 1px;
}
.mfp-iframe-holder .mfp-close,
.mfp-image-holder .mfp-close {
  color: #FFF;
  text-align: right;
  width: auto;
  right: 10px;
}
.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}
.mfp-figure,
img.mfp-img {
  line-height: 0;
}
.mfp-arrow {
  position: absolute;
  margin: -55px 0 0;
  top: 50%;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}
.mfp-arrow:active {
  margin-top: -54px;
}
.mfp-arrow:focus,
.mfp-arrow:hover {
  opacity: 1;
}
.mfp-arrow:after,
.mfp-arrow:before {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: inset transparent;
}
.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}
.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: .7;
}
.mfp-arrow-left {
  left: 0;
}
.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px;
}
.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F;
}
.mfp-arrow-right {
  right: 0;
}
.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px;
}
.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F;
}
.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}
.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}
.mfp-image-holder .mfp-content,
img.mfp-img {
  max-width: 100%;
}
.mfp-iframe-holder .mfp-close {
  top: -40px;
}
.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}
.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0,0,0,0.6);
  background: #000;
}
.mfp-figure:after,
img.mfp-img {
  width: auto;
  height: auto;
  display: block;
}
img.mfp-img {
  box-sizing: border-box;
  padding: 40px 0;
  margin: 0 auto;
}
.mfp-figure:after {
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  right: 0;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0,0,0,0.6);
  background: #444;
}
.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}
.mfp-figure figure {
  margin: 0;
}
.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}
.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}
.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}
@media screen and (max-width: 800px) and (orientation: landscape),screen and (max-height: 300px) {
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0,0,0,0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0,0,0,0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(.75);
    transform: scale(.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
.bx-wrapper {
  position: relative;
  padding: 0;
  *zoom: 1;
}
.bx-wrapper img {
  max-width: 100%;
  display: block;
}
.bx-wrapper .bx-viewport {
  border: 0px;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: 30px;
  width: 100%;
}
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../bxslider/images/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  text-indent: -9999px;
  display: block;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 50%;
  background: #FFF;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #FF3B3F;
}
.bx-wrapper .bx-prev {
  z-index: 0 !important;
  left: 10px;
  background: url(../bxslider/images/prev.png) no-repeat center center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  border-radius: 3px;
}
.bx-wrapper .bx-next {
  z-index: 0 !important;
  right: 10px;
  background: url(../bxslider/images/next.png) no-repeat center center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  border-radius: 3px;
}
.box-cinema-home .bx-wrapper .bx-prev {
  background-color: transparent;
}
.box-cinema-home .bx-wrapper .bx-next {
  background-color: transparent;
}
.bx-wrapper .bx-prev:hover {
  opacity: 0.7;
}
.bx-wrapper .bx-next:hover {
  opacity: 0.7;
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
.bx-wrapper .bx-controls-auto {
  text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666 \9;
  background: rgba(80,80,80,0.75);
  width: 100%;
}
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}
#bannerslider {
  margin-bottom: 80px;
}
#bannerslider .bx-wrapper .bx-pager a {
  display: inline-block !important;
}
#bannerslider-mobile {
  display: none;
  margin-bottom: 40px;
}
#bannerslider-mobile .bx-wrapper .bx-pager.bx-default-pager a {
  bottom: 60px !important;
}
.banner-single {
  margin-bottom: 80px;
}
.banner-single img {
  width: 100%;
  max-width: 1920px;
}
.banner-single-mobile {
  display: none;
  margin-bottom: 40px;
}
.banner-single-mobile img {
  width: 100%;
  max-width: 650px;
}
.wfull {
  width: 100%;
  height: auto;
  display: table;
}
.clear {
  clear: both;
}
input:invalid {
  box-shadow: none;
}
textarea:invalid {
  box-shadow: none;
}
* {
  padding: 0;
  border: 0;
  margin: 0;
}
a,
img {
  border: 0;
  text-decoration: none;
}
input {
  outline: none;
}
html,
body {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif !important;
  height: 100%;
  font-weight: 400;
  background-color: #EEEEEE;
}
.container-fix {
  width: auto;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.msg-add-sucess {
  width: 94%;
  padding: 3%;
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 70px;
  padding-bottom: 70px;
  color: green;
  background-color: #FFF;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  border-radius: 5px;
  font-weight: 700;
}
.mas-a {
  color: #000;
}
.button-gi {
  text-align: center;
  margin-top: 40px;
}
.button-gi a {
  display: inline-block;
  color: #646464;
  font-size: 14px;
  font-weight: 700;
  background-color: #646464;
  color: #FFF;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}
.button-gi a i {
  margin-right: 5px;
}
.formc {
  color: #646464;
}
.formc input[type="text"],
.formc input[type="email"],
.formc input[type="tel"],
.formc input[type="password"] {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.formc textarea {
  width: 100%;
  height: 113px;
  margin-bottom: 30px;
  border-radius: 5px;
}
.formc select {
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
  color: #767676;
  border-radius: 5px;
}
.formc input[type="submit"] {
  width: 200px;
  border: 0px;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #FFF;
  font-weight: 700;
  background-color: #FF3B3F;
  font-size: 12px;
  letter-spacing: 0px;
  border-radius: 5px;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.formc input[type="submit"]:hover {
  background-color: #646464;
}
.formc .rcp {
  font-size: 18px;
  margin-bottom: 50px;
  text-align: left;
  color: #646464;
}
.formc .rcp .tl {
  text-align: right;
  font-weight: 700;
}
.formc .rcp label {
  display: inline-block;
  margin-right: 30px;
  font-weight: 400;
  cursor: pointer;
  margin-top: 2px;
}
.formc .rcp input[type="checkbox"] {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  padding: 5px;
  margin-right: 8px;
  margin-bottom: 0px;
}
.formc .label-termos {
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.formc .label-termos input[type="checkbox"] {
  -ms-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -o-transform: scale(1.4);
  padding: 6px;
  margin-right: 15px;
  margin-bottom: 0px;
  margin-top: 3px;
}
.formc .label-termos a {
  text-decoration: underline;
  color: blue;
}
.msg-send-form {
  display: none;
  color: #646464;
}
.bg-gray {
  width: 100%;
  height: auto;
  display: table;
  border-top: 1px solid #D8D8D8;
}
.bgpb {
  padding-bottom: 60px;
}
.bg-bread {
  width: 100%;
  height: auto;
  display: table;
  background-color: #FFF;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 60px;
}
.bg-bread .h1p {
  color: #FF3B3F;
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.h1p-home {
  color: #646464;
  font-size: 28px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.breadcrumb {
  font-size: 13px;
  font-weight: 600;
}
.breadcrumb a,
.breadcrumb span {
  display: inline-block;
  color: #646464;
}
.breadcrumb a:last-child {
  font-weight: 700;
}
.breadcrumb i {
  color: #646464;
  margin-left: 8px;
  margin-right: 8px;
}
.breadcrumb i img {
  width: 8px;
}
.menu-ln .tfilter {
  display: inline-block;
  color: #FFF;
  background-color: #FF3B3F;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  padding: 8px;
  padding-left: 10px;
}
.menu-ln .tfilter i {
  margin-left: 10px;
}
.menu-ln .box-categorias a {
  display: block;
  padding: 8px;
  padding-left: 18px;
  text-transform: uppercase;
  color: #646464;
  font-size: 14px;
  font-weight: 700;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.menu-ln .box-categorias a i {
  float: right;
  display: none;
  margin-top: 3px;
}
.menu-ln .box-categorias a:hover {
  background-color: #646464;
  color: #FFF;
}
.menu-ln .box-categorias a:hover i {
  display: block;
}
.menu-ln .box-categorias .sub {
  font-size: 13px;
  padding: 5px;
  padding-left: 30px;
  color: #616161;
}
.menu-ln .box-categorias .as-active {
  background-color: #646464;
  color: #FFF;
}
.menu-ln .box-categorias .as-active i {
  display: block;
}
.menu-ln #fc {
  margin-top: 30px;
}
.top-order {
  margin-top: -20px;
  margin-bottom: 40px;
}
.top-order .sc-left form {
  width: 279px;
}
.top-order .sc-left form input[type="text"] {
  width: 75%;
  height: 40px;
  margin-bottom: 0px;
  border-radius: 2px 0px 0px 2px;
  display: inline-block;
  float: left;
  border: 1px solid #A2A3AA;
}
.top-order .sc-left form input[type="submit"] {
  width: 20%;
  height: 40px;
  border: 0px;
  padding: 0px 0px;
  margin-bottom: 0px;
  color: #FFF;
  font-weight: 700;
  background: url('../img/icon_search_white.png') no-repeat center center;
  background-color: #A2A3AA;
  font-size: 12px;
  letter-spacing: 0px;
  border-radius: 0px 2px 2px 0px;
  display: inline-block;
  float: left;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.top-order .sc-left form input[type="submit"]:hover {
  background-color: #FF3B3F;
}
.top-order .sc-right select {
  width: 170px;
  height: 40px;
  margin-bottom: 0px;
  padding: 0px;
  padding-left: 10px;
  color: #767676;
  border-radius: 2px;
  float: right;
  font-size: 15px;
  border: 1px solid #A2A3AA;
}
.produto-list {
  margin-bottom: 50px;
  color: #646464;
}
.produto-list img {
  width: 100%;
  max-width: 265px;
  margin-bottom: 15px;
}
.produto-list .title {
  color: #646464;
  height: auto;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 20px;
  line-height: 25px;
  min-height: 49px;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.produto-list .title:hover {
  color: #FF3B3F;
}
.produto-list .price {
  color: #FFF;
  background-color: #FF3B3F;
  font-size: 16px;
  height: auto;
  padding: 4px 10px 4px 10px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 20px;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.produto-list .price i {
  float: right;
  margin-top: 5px;
}
.produto-list .price:hover {
  background-color: #FF3B3F;
}
.produto-list .buttons {
  text-align: center;
}
.produto-list .buttons a {
  color: #646464;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.produto-list .buttons a i {
  margin-right: 5px;
}
.produto-list .buttons a:hover {
  color: #FF3B3F;
}
.box-login-cadastro {
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 6px #DBDBDB;
  -webkit-box-shadow: 3px 3px 6px #DBDBDB;
  color: #646464;
}
.box-login-cadastro h2 {
  color: #FF3B3F;
  text-align: center;
  margin-bottom: 40px;
}
.box-login-cadastro label {
  margin-bottom: 5px;
  font-weight: 400;
}
.box-login-cadastro label span {
  font-size: 11px;
}
.box-login-cadastro #loadcep {
  position: absolute;
  margin-top: 68px;
  margin-left: -40px;
  font-size: 12px;
  display: none;
}
.box-login-cadastro input[type="text"],
.box-login-cadastro input[type="email"],
.box-login-cadastro input[type="tel"],
.box-login-cadastro input[type="password"] {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  height: 40px;
}
.box-login-cadastro select {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  color: #767676;
  border-radius: 5px;
}
.box-login-cadastro input[type="submit"] {
  width: 200px;
  border: 0px;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
  color: #FFF;
  font-weight: 400;
  background-color: #FF3B3F;
  font-size: 12px;
  letter-spacing: 0px;
  border-radius: 5px;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.box-login-cadastro input[type="submit"]:hover {
  background-color: #646464;
}
.box-login-cadastro .forget {
  display: table;
  font-size: 14px;
  cursor: pointer;
  margin-top: -10px;
}
.box-login-cadastro .forget:hover {
  text-decoration: underline;
}
.box-login-cadastro .row-buttons {
  text-align: right;
}
#formForget {
  display: none;
}
.blc-change {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 50px;
}
.popup-add-product {
  width: 100%;
  max-width: 400px;
  background-color: #FFF;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.popup-add-product a {
  display: inline-block;
  color: #646464;
  font-weight: 700;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 4px 20px 4px 20px;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.popup-add-product a i {
  margin-right: 5px;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.popup-add-product a:hover {
  background-color: #646464;
  color: #FFF;
  border: 1px solid #646464;
}
.popup-add-product a:hover i {
  color: #FFF;
}
.popup-add-product .viewc i {
  color: #2DA34A;
}
.popup-add-product .close {
  margin-left: 30px;
}
.popup-add-product .close i {
  color: #FF3B3F;
}
.popup-add-product p {
  font-size: 17px;
  line-height: 25px;
  font-weight: 600;
  margin-bottom: 30px;
}
.popup-add-product .padd {
  color: #2DA34A;
}
.popup-add-product .p-pontos {
  color: #FF3B3F;
}
.show-loader {
  width: 100%;
  height: 50px;
  color: #FFF;
  text-align: center;
}
.texto p {
  color: #646464;
  font-size: 17px;
  line-height: 25px;
}
#formContult {
  width: 600px;
  margin: 0 auto;
}
#formContult input[type="submit"] {
  margin-top: 25px;
}
.image-cp img {
  width: 100%;
  max-width: 470px;
}
.box-right-info .pontos {
  font-size: 28px;
  color: #FF3B3F;
  margin-bottom: 10px;
}
.box-right-info .line {
  display: table;
  width: 66px;
  height: 4px;
  background-color: #FF3B3F;
  margin-bottom: 20px;
  border-radius: 2px;
}
.row-add-car {
  margin-top: 30px;
  margin-bottom: 30px;
}
.row-add-car a {
  display: inline-block;
  background-color: #FF3B3F;
  color: #FFF;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.row-add-car a i {
  margin-right: 10px;
}
.row-add-car a:hover {
  background-color: #646464;
}
.cabecalho-produto {
  background-color: #646464;
  padding: 20px;
  color: #FFF;
  font-size: 15px;
  font-weight: 600;
}
.list-orcamento {
  border: 1px solid #E5E5E5;
  background-color: #FFF;
  border-top: 0px;
  padding: 20px;
}
.list-orcamento .title-produto img {
  width: 80px;
  float: left;
  display: inline-block;
  margin-right: 15px;
  border: 1px solid #F2F2F2;
}
.list-orcamento .title-produto span {
  float: left;
  display: inline-block;
  color: #646464;
  font-size: 15px;
  font-weight: 700;
  margin-top: 14px;
}
.list-orcamento .title-produto span .pontos {
  color: #FF3B3F;
}
.list-orcamento .pontos p {
  color: #FF3B3F;
  font-size: 15px;
  font-weight: 700;
  margin-top: 14px;
}
.list-orcamento .quantidade .left-qtd {
  width: 60px;
}
.list-orcamento .quantidade input[type="text"],
.list-orcamento .quantidade input[type="email"],
.list-orcamento .quantidade input[type="tel"] {
  width: 100%;
  height: 45px;
  margin-bottom: 0px;
  border-radius: 5px;
}
.list-orcamento .quantidade a {
  display: inline-block;
}
.list-orcamento .quantidade a i {
  color: #646464;
  font-size: 23px;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.list-orcamento .quantidade a i:hover {
  color: #FF3B3F;
}
.list-orcamento .delete {
  text-align: center;
}
.list-orcamento .delete a {
  display: inline-block;
  color: #FF3B3F;
  font-size: 22px;
  margin-top: 8px;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.list-orcamento .delete a:hover {
  color: #646464;
}
.dsums {
  width: 23%;
  float: right;
  background-color: #646464;
  padding: 10px;
  padding-left: 20px;
  color: #FFF;
  font-size: 15px;
  font-weight: 600;
}
.dsums p {
  font-weight: 700;
}
.dsums .p2 {
  font-size: 19px;
}
.row-form-orc {
  margin-top: 40px;
  text-align: center;
}
.row-form-orc .continue {
  float: right;
  display: inline-block;
  background-color: green;
  color: #FFF;
  font-size: 17px;
  text-transform: uppercase;
  padding: 10px 40px 10px 40px;
  border-radius: 5px;
  font-weight: 700;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.row-form-orc .continue i {
  font-size: 16px;
  margin-right: 10px;
}
.row-form-orc .continue:hover {
  background-color: #FF3B3F;
}
.row-form-orc p {
  font-size: 20px;
  margin-top: 70px;
  font-weight: 700;
}
.row-form-orc .row-obs label {
  margin-top: 40px;
  font-size: 18px;
}
.row-form-orc .row-obs label span {
  font-size: 16px;
  font-weight: normal;
}
.row-form-orc .row-obs textarea {
  width: 100%;
  max-width: 698px;
}
.row-form-orc input[type="submit"] {
  width: 58%;
  height: 50px;
  font-size: 17px;
  font-weight: 700;
  background-color: #395DAA;
}
.row-form-orc input[type="submit"]:hover {
  background-color: #FF3B3F;
}
header {
  width: 100%;
  height: auto;
  display: block;
  padding-top: 15px;
  padding-bottom: 20px;
}
header .bt1 {
  width: 100%;
  height: 10px;
  z-index: 3;
  position: relative;
}
header .bt1 .mre {
  color: #646464;
  font-size: 17px;
  font-weight: 700;
  float: right;
  margin-top: 45px;
  height: 50px;
  display: table;
}
header .bt1 .mre .loginc {
  width: 100%;
  display: inline-block;
  color: #646464;
  font-size: 17px;
  font-weight: 700;
  float: right;
  margin-top: 15px;
  margin-bottom: 20px;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
header .bt1 .mre .loginc i {
  margin-right: 10px;
  font-size: 20px;
}
header .bt1 .mre .loginc:hover {
  color: #FF3B3F;
}
header .bt1 .mre .lp {
  display: table;
  color: #646464;
  font-size: 15px;
  font-weight: 400;
}
header .bt1 .mre .lp i {
  float: left;
  font-size: 20px;
  margin-top: 9px;
  margin-right: 10px;
}
header .bt1 .mre .lp span {
  width: auto;
  float: right;
  display: table;
}
header .bt1 .mre .out {
  float: right;
  position: absolute;
  margin-top: -45px;
  font-size: 12px;
  color: #A2A3AA;
  font-weight: 400;
}
header .bt1 .mre {
  margin-top: 40px;
}
header .bt1 .mre-new {
  color: #646464;
  font-size: 15px;
  float: right;
  height: 50px;
  display: table;
}
header .bt1 .mre-new i {
  font-size: 13px;
  margin-right: 3px;
}
header .bt1 .mre-new .name-pontos {
  margin-top: 54px;
}
header .bt1 .mre-new .avencer {
  margin-top: 44px;
}
header .logo img {
  position: relative;
  z-index: 5;
}
header .openmenu {
  width: 40px;
  float: right;
  display: none;
  cursor: pointer;
  margin-top: 5px;
}
header .openmenu span {
  display: block;
  height: 5px;
  background-color: #646464;
  border-radius: 2px;
  margin-bottom: 4px;
}
header #bgmenu {
  margin-top: -33px;
}
header #bgmenu ul {
  list-style: none;
  margin-bottom: 0px;
}
header #bgmenu ul .li-close {
  display: none;
  text-align: right;
}
header #bgmenu ul .li-close a {
  border-bottom: 0px;
}
header #bgmenu ul .li-close a img {
  width: 25px;
  display: inline-block;
  margin-right: 20px;
}
header #bgmenu ul .li-close a:hover {
  border-bottom: 0px;
}
header #bgmenu ul li {
  display: inline-block;
  margin-bottom: 0px;
}
header #bgmenu ul li a {
  display: inline-block;
  color: #646464;
  font-size: 18px;
  margin-left: 50px;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
header #bgmenu ul li a:hover {
  color: #FF3B3F;
}
.bg-top-car {
  width: 100%;
  height: auto;
  display: table;
  padding-top: 5px;
  margin-bottom: -30px;
  position: relative;
  z-index: 5;
  text-align: right;
}
.bg-top-car a {
  display: inline-block;
  font-size: 15px;
  color: #FF3B3F;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.bg-top-car a i {
  margin-right: 3px;
  font-size: 12px;
}
.bg-top-car a:hover {
  color: #395DAA;
}
.bg-top-car .out {
  margin-left: 18px;
}
.lowcontent {
  z-index: 1;
  position: absolute;
  margin-top: 0px;
}
.vie-all {
  text-align: right;
}
.vie-all a {
  display: inline-block;
  color: #FF3B3F;
  font-weight: 700;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.vie-all a:hover {
  color: #395DAA;
}
footer {
  width: 100%;
  height: auto;
  display: table;
  margin-top: 70px;
}
footer .logo-footer {
  margin-top: 18px;
}
footer .logo-footer img {
  width: 100%;
  max-width: 300px;
}
footer .menu-footer {
  margin-top: 10px;
}
footer .menu-footer a {
  display: table;
  color: #646464;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
footer .menu-footer a:hover {
  color: #FF3B3F;
}
footer .logos-fm img {
  display: inline-block;
  float: right;
}
footer .logos-fm .fipal {
  margin-top: 15px;
}
footer .logos-fm .mopar {
  width: 103px;
  margin-left: 50px;
}
footer .bg-low-footer {
  width: 100%;
  height: auto;
  padding-top: 35px;
  padding-bottom: 40px;
}
.bg-indicacao {
  width: 100%;
  height: auto;
  display: table;
  background-color: #FF3B3F;
  padding-top: 20px;
  padding-bottom: 23px;
}
.bg-indicacao form {
  width: 88%;
  margin: 0 auto;
}
.bg-indicacao .itext p {
  color: #FFF;
  font-weight: 700;
}
.bg-indicacao .itext .p1 {
  font-size: 28px;
  line-height: 38px;
}
.bg-indicacao .itext .p2 {
  font-size: 17px;
}
.bg-indicacao input[type="text"],
.bg-indicacao input[type="email"] {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 0px;
  border: 0px;
  border-radius: 5px;
}
.bg-indicacao input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 0px;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #FF3B3F;
  background-color: #FFF;
  font-size: 13px;
  letter-spacing: 0px;
  border-radius: 5px;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.bg-indicacao input[type="submit"]:hover {
  color: #646464;
}
.content-mt {
  margin-top: 70px;
}
.box-imgs a {
  display: inline-block;
}
.box-imgs .bi-left img {
  width: 100%;
  max-width: 680px;
}
.box-imgs .bi-left .m100 {
  margin-top: 44px;
}
.box-imgs .bi-right img {
  width: 100%;
  max-width: 470px;
}
.paginator {
  text-align: center;
  margin-top: 40px;
}
.paginator span {
  color: #646464;
  font-size: 18px;
  font-weight: 700;
}
.paginator span a {
  color: #646464;
  padding: 5px 10px;
}
.paginator span a:hover {
  color: #FF3B3F;
}
.paginator span.current {
  color: #FF3B3F;
  font-weight: bold;
  padding: 5px 10px;
}
.paginator .prev,
.paginator .next {
  color: #646464;
  padding: 5px 10px;
}
.paginator .prev a,
.paginator .next a {
  color: #999;
  padding: 0;
}
.row-contact p {
  font-size: 20px;
  margin-bottom: 40px;
}
.right-contact a {
  display: table;
  color: #646464;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.right-contact a span {
  font-size: 15px;
}
.right-contact a i {
  font-size: 15px;
  margin-right: 5px;
}
.right-contact a:hover {
  color: #FF3B3F;
}
.page-404 {
  margin-top: 50px;
  text-align: center;
  background-color: #FFF;
  border-radius: 5px;
  padding: 40px;
}
.page-404 p {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #646464;
}
.page-404 a {
  display: inline-block;
  background-color: #FF3B3F;
  color: #FFF;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
  font-size: 14px;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.page-404 a:hover {
  background-color: #646464;
}
.bg-concessionarias {
  background-color: #FFF;
  padding-top: 30px;
  padding-bottom: 10px;
}
.bg-concessionarias h3 {
  color: #646464;
  font-size: 18px;
  margin-bottom: 15px;
}
.bg-concessionarias .concessionaria {
  display: inline-block;
  width: 25%;
  margin-bottom: 20px;
}
.bg-concessionarias .concessionaria h4 {
  color: #646464;
  font-size: 15px;
  font-weight: 700;
}
.bg-concessionarias .concessionaria a {
  color: #A2A3AA;
  font-size: 16px;
  font-weight: 700;
}
#box-whatsapp {
  position: fixed;
  z-index: 7;
  text-align: center;
  bottom: 10px;
  right: 5px;
}
#box-whatsapp img {
  width: 100%;
  max-width: 42px;
}
.bg-gallery {
  text-align: center;
}
.bg-gallery .ig img {
  width: 100%;
  max-width: 270px;
  margin-bottom: 20px;
  border-radius: 2px;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.bg-gallery .ig img:hover {
  opacity: 0.7;
}
.box-acept-cookies {
  width: 100%;
  position: fixed;
  bottom: 10px;
  display: none;
  z-index: 999;
}
.box-acept-cookies .box-content {
  width: 100%;
  max-width: 370px;
  margin: 0 auto;
  padding-top: 9px;
  padding-bottom: 9px;
  background: rgba(0,0,0,0.9);
  z-index: 999;
  position: relative;
  border-radius: 5px;
  text-align: center;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.box-acept-cookies .box-content p {
  display: inline-block;
  width: auto;
  color: #FFF;
  text-align: left;
  font-size: 15px;
  line-height: 17px;
}
.box-acept-cookies .box-content a {
  display: inline-block;
  background-color: #FF3B3F;
  color: #FFF;
  font-size: 15px;
  line-height: 15px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  margin-left: 20px;
}
.box-cookies-navegation {
  width: 100%;
  background-color: #FFF;
  border-top: 2px solid #ccc;
  position: fixed;
  bottom: 0px;
  display: none;
  z-index: 999;
}
.box-cookies-navegation .box-content {
  width: 96%;
  padding-left: 2%;
  padding-right: 2%;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 999;
  position: relative;
  border-radius: 5px;
  text-align: center;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.box-cookies-navegation .box-content p {
  display: inline-block;
  width: auto;
  color: #000;
  text-align: left;
  font-size: 16px;
  line-height: 22px;
}
.box-cookies-navegation .box-content p a {
  display: inline-block;
  color: blue;
}
.box-cookies-navegation .box-content .btn-acept {
  display: inline-block;
  background-color: #FF3B3F;
  color: #FFF;
  font-size: 16px;
  line-height: 16px;
  padding: 14px 10px 14px 10px;
  border-radius: 5px;
  margin-left: 20px;
}
.bg-menu-options {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 999;
}
.bg-menu-options ul {
  width: auto;
  float: right;
  margin-bottom: 0px;
  background-color: #FFF;
  background-color: #395DAA;
  text-align: center;
  border-radius: 0 0 5px 5px;
}
.bg-menu-options ul li {
  display: inline-table;
  margin-bottom: 0px;
  list-style: none;
  border-right: 1px solid #A2B6DF;
}
.bg-menu-options ul li a {
  display: table;
  font-size: 15px;
  line-height: 15px;
  color: #FFF;
  padding: 8px 10px 10px 10px;
  border-top: 2px solid transparent;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.bg-menu-options ul li a i {
  font-size: 13px;
  margin-right: 4px;
}
.bg-menu-options ul li a:hover {
  border-top: 2px solid #FFF;
}
.bg-menu-options ul .ll {
  border-right: 0px;
}
.h2-hp {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 20px;
  color: #646464;
}
.row-table-responsive {
  background-color: #FFF;
}
.row-table-responsive th,
.row-table-responsive td {
  padding: 8px 10px;
  width: 30%;
}
.row-table-responsive thead tr {
  font-weight: 700;
  color: #000;
  font-size: 15px;
}
.row-table-responsive tbody td {
  color: #646464;
  font-size: 15px;
}
.row-table-responsive tbody td b {
  color: #000;
}
.row-table-responsive tbody .tdc {
  font-size: 13px;
}
.bg-low-table {
  background-color: #FFF;
}
.bg-low-table th,
.bg-low-table td {
  width: 30%;
  padding: 8px 10px;
}
.bg-low-table thead tr {
  font-weight: 700;
  color: #000;
  font-size: 15px;
}
.bg-low-table tbody td {
  color: #000;
  font-size: 15px;
}
.bg-low-table tbody td b {
  color: #000;
}
.tbr-pedido {
  background-color: #FFF;
}
.tbr-pedido th,
.tbr-pedido td {
  padding: 6px 8px;
}
.tbr-pedido .td20 {
  width: 20%;
}
.tbr-pedido thead tr {
  font-weight: 700;
  color: #000;
  font-size: 15px;
}
.tbr-pedido tbody td {
  color: #646464;
  font-size: 15px;
}
.tbr-pedido tbody td b {
  color: #000;
}
.tbr-pedido tbody .tdc {
  font-size: 13px;
}
.tbr-pedido tbody .table-pdts td {
  font-size: 13px;
  padding: 4px 6px;
}
.tbr-pedido tbody .table-pdts tr:last-child td {
  border-bottom: 0px;
  padding-bottom: 0px;
}
.tbr-pedido tbody .table-pdts .tdta {
  text-align: right;
}
.tbr-pedido tbody .table-pdts .tdf {
  width: 85%;
}
.tbr-pedido tbody .table-notas {
  width: 100%;
  max-width: 300px;
}
.tbr-pedido tbody .table-notas td {
  font-size: 12px;
  padding: 3px 5px;
}
@media only screen and (max-width: 760px),(min-device-width: 768px) and (max-device-width: 1024px) {
  .row-table-responsive th,
  .row-table-responsive td {
    width: 50%;
  }
  .row-table-responsive tbody td {
    font-size: 13px;
  }
  .row-table-responsive table,
  .row-table-responsive thead,
  .row-table-responsive tbody,
  .row-table-responsive th,
  .row-table-responsive td,
  .row-table-responsive tr {
    display: block;
  }
  .row-table-responsive thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .row-table-responsive tr:nth-child(odd) {
    background: #F5F5F5;
  }
  .row-table-responsive td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 47%;
    font-size: 13px;
  }
  .row-table-responsive td:before {
    position: absolute;
    left: 6px;
    width: 40%;
    padding-right: 10px;
    white-space: nowrap;
    color: #000;
  }
  .row-table-responsive td:nth-of-type(1):before {
    content: 'Data da emissão:';
  }
  .row-table-responsive td:nth-of-type(2):before {
    content: 'Pontos:';
  }
  .row-table-responsive td:nth-of-type(3):before {
    content: 'Válido até:';
  }
  .bg-low-table {
    margin-top: 30px;
  }
  .bg-low-table th,
  .bg-low-table td {
    width: 44%;
  }
}
.h3r {
  color: #FF3B3F;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 22px;
}
.total-low-pedidos {
  width: 100%;
  max-width: 220px;
  background-color: #FFF;
  float: right;
  padding: 10px;
}
.total-low-pedidos .bin {
  float: left;
  display: inline-block;
}
.total-low-pedidos .b1 {
  width: 112px;
  text-align: right;
}
.total-low-pedidos .b2 {
  width: 30px;
  padding-left: 10px;
}
@media (max-width: 1120px) {
  .container-fix {
    padding-left: 20px;
    padding-right: 20px;
  }
  header {
    height: auto;
    padding-bottom: 20px;
  }
  header .bt1 .mre {
    width: 100%;
    font-size: 14px;
    text-align: right;
    margin-top: 40px;
    height: auto;
    margin-bottom: 0px;
  }
  header .bt1 .mre .loginc {
    font-size: 15px;
    float: right;
    margin-top: 0px;
  }
  header .bt1 .mre .loginc i {
    margin-right: 5px;
    font-size: 15px;
  }
  header .bt1 .mre .lp {
    display: inline-block;
    color: #646464;
    font-size: 15px;
    font-weight: 400;
  }
  header .bt1 .mre .lp i {
    display: none;
  }
  header .bt1 .mre .lp br {
    display: none;
  }
  header .bt1 .mre .lp b {
    margin-left: 5px;
  }
  header .bt1 .mre .lp .name {
    display: none;
  }
  header .bt1 .mre .out {
    float: right;
    position: relative;
    margin-top: 2px;
  }
  header .bt1 .mre2 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  header .bt1 .mre-new {
    font-size: 15px;
    float: left;
    height: auto;
    display: table;
    margin-bottom: 20px;
  }
  header .bt1 .mre-new i {
    font-size: 12px;
  }
  header .bt1 .mre-new .name-pontos {
    margin-top: 55px;
  }
  header .bt1 .mre-new .avencer {
    margin-top: 55px;
  }
  header .logo {
    width: 80% !important;
    margin: 0px !important;
    float: left;
  }
  header .logo img {
    width: 100%;
    max-width: 380px;
    margin-top: 0px;
  }
  header .right-top {
    width: 20% !important;
    margin: 0px !important;
    float: right;
  }
  header .openmenu {
    float: right;
    display: block;
    margin-top: 20px;
    position: relative;
    z-index: 7;
  }
  header #bgmenu {
    display: none;
    text-align: left;
    background-color: #000;
    opacity: 0.9;
    padding-top: 20px;
    padding-bottom: 18px;
    position: absolute;
    z-index: 999;
    width: 100%;
    left: 0;
    top: 30px;
  }
  header #bgmenu ul {
    text-align: center;
  }
  header #bgmenu ul .li-close {
    display: block;
    margin-bottom: 5px;
  }
  header #bgmenu ul li {
    display: block;
    margin-bottom: 30px;
  }
  header #bgmenu ul li a {
    color: #FFF;
    margin-left: 0px;
    font-size: 20px;
  }
  .bg-top-car {
    margin-bottom: -50px;
  }
}
@media (max-width: 850px) {
  .formc .label-termos {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .formc .label-termos input[type="checkbox"] {
    -ms-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    margin-right: 10px;
  }
  .msg-add-sucess {
    font-size: 16px;
    line-height: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #bannerslider {
    display: none;
  }
  #bannerslider-mobile {
    display: block;
  }
  .banner-single {
    display: none;
  }
  .banner-single-mobile {
    display: block;
    margin-bottom: 40px;
  }
  .bg-bread {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
  .bg-bread .h1p {
    font-size: 18px;
  }
  .menu-ln {
    margin-bottom: 30px;
  }
  .menu-ln .tfilter {
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .menu-ln .box-categorias {
    display: none;
  }
  .menu-ln .box-categorias a {
    font-size: 13px;
  }
  .menu-ln #fc {
    margin-top: 15px;
  }
  .produto-list {
    margin-bottom: 40px;
  }
  .produto-list .title {
    margin-bottom: 20px;
    min-height: 20px;
  }
  .produto-list .price {
    font-size: 15px;
    height: auto;
    padding: 2px 5px 2px 5px;
  }
  .produto-list .buttons {
    text-align: center;
  }
  .produto-list .buttons a {
    color: #646464;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .33s ease-in-out;
    -moz-transition: all .33s ease-in-out;
    -webkit-transition: all .33s ease-in-out;
  }
  .produto-list .buttons a i {
    margin-right: 5px;
  }
  .produto-list .buttons a:hover {
    color: #FF3B3F;
  }
  footer {
    margin-top: 40px;
    text-align: center;
  }
  footer .logo-footer {
    margin-top: 10px;
    text-align: center;
  }
  footer .menu-footer {
    margin-top: 40px;
  }
  footer .menu-footer a {
    display: inline-block;
    color: #646464;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    transition: all .33s ease-in-out;
    -moz-transition: all .33s ease-in-out;
    -webkit-transition: all .33s ease-in-out;
  }
  footer .menu-footer a:hover {
    color: #FF3B3F;
  }
  footer .logos-fm {
    margin-top: 20px;
  }
  footer .logos-fm img {
    display: inline-block;
    float: none;
  }
  footer .logos-fm .fipal {
    margin-top: 15px;
    width: 110px;
  }
  footer .logos-fm .mopar {
    width: 50px;
    margin-left: 0px;
    margin-right: 20px;
  }
  .bg-indicacao {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .bg-indicacao form {
    width: 100%;
  }
  .bg-indicacao .itext .p1 {
    font-size: 17px;
    line-height: 26px;
  }
  .bg-indicacao .itext .p2 {
    font-size: 14px;
  }
  .bg-indicacao input[type="text"],
  .bg-indicacao input[type="email"] {
    height: 45px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .bg-indicacao input[type="submit"] {
    height: 40px;
  }
  .content-mt {
    margin-top: 50px;
  }
  .box-login-cadastro {
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #646464;
  }
  .box-login-cadastro h2 {
    margin-bottom: 30px;
    font-size: 19px;
  }
  .box-login-cadastro label {
    margin-bottom: 2px;
  }
  .box-login-cadastro #loadcep {
    position: absolute;
    margin-top: 68px;
    margin-left: -40px;
    font-size: 12px;
    display: none;
  }
  .box-login-cadastro input[type="text"],
  .box-login-cadastro input[type="email"],
  .box-login-cadastro input[type="tel"],
  .box-login-cadastro input[type="password"] {
    margin-bottom: 15px;
  }
  .box-login-cadastro select {
    margin-bottom: 15px;
  }
  .box-login-cadastro input[type="submit"] {
    height: 35px;
  }
  .box-login-cadastro .forget {
    display: table;
    font-size: 14px;
    cursor: pointer;
    margin-top: -10px;
  }
  .box-login-cadastro .forget:hover {
    text-decoration: underline;
  }
  .box-login-cadastro .row-buttons {
    text-align: right;
  }
  .blc2 {
    margin-top: 50px;
  }
  .texto p {
    font-size: 15px;
    line-height: 23px;
  }
  .h1p-home {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .box-right-info {
    margin-top: 20px;
  }
  .box-right-info .pontos {
    font-size: 22px;
    margin-bottom: 5px;
  }
  .box-right-info .line {
    width: 55px;
    height: 3px;
    margin-top: 5px;
  }
  .row-add-car {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  .row-add-car a {
    width: 90%;
    padding: 10px 5% 10px 5%;
  }
  .row-add-car a i {
    margin-right: 5px;
  }
  .box-imgs .bi-left .m100 {
    display: none;
  }
  .box-imgs .bi-right {
    margin-top: 20px;
  }
  .cabecalho-produto {
    padding: 10px;
    font-size: 15px;
  }
  .cabecalho-produto .qtd,
  .cabecalho-produto .opc {
    display: none;
  }
  .list-orcamento {
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .list-orcamento .title-produto img {
    width: 60px;
    margin-right: 8px;
    float: left;
  }
  .list-orcamento .title-produto span {
    float: none;
    font-size: 14px;
  }
  .list-orcamento .pontos p {
    font-size: 15px;
    font-weight: 700;
    margin-top: 8px;
  }
  .list-orcamento .pontos p span {
    display: inline-block;
  }
  .list-orcamento .quantidade {
    width: 80%;
    float: left;
    margin: 0px;
    margin-top: 10px;
  }
  .list-orcamento .quantidade .left-qtd {
    width: 60px;
    float: left;
    margin: 0px;
  }
  .list-orcamento .quantidade .right-qtd {
    width: 40%;
    float: left;
    margin: 0px;
    padding-left: 10px;
  }
  .list-orcamento .quantidade input[type="text"],
  .list-orcamento .quantidade input[type="email"],
  .list-orcamento .quantidade input[type="tel"] {
    height: 40px;
    float: left;
    margin-top: 3px;
  }
  .list-orcamento .delete {
    width: 20%;
    float: right;
    margin: 0px;
    text-align: left;
  }
  .list-orcamento .delete a {
    font-size: 20px;
    margin-top: 27px;
  }
  .row-form-orc {
    margin-top: 50px;
  }
  .row-form-orc .continue {
    font-size: 15px;
    width: 90%;
    padding: 10px 5% 10px 5%;
  }
  .row-form-orc .continue i {
    font-size: 13px;
    margin-right: 5px;
  }
  .row-form-orc .continue:hover {
    background-color: green;
  }
  .row-form-orc p {
    font-size: 16px;
    margin-top: 60px;
  }
  .row-form-orc .row-obs label {
    margin-top: 40px;
    font-size: 16px;
  }
  .row-form-orc .row-obs label span {
    font-size: 14px;
  }
  .row-form-orc input[type="submit"] {
    width: 100%;
    height: 45px;
    font-size: 14px;
  }
  .row-form-orc input[type="submit"]:hover {
    background-color: #395DAA;
  }
  .dsums {
    width: 47%;
    padding: 1%;
    padding-left: 2%;
    font-size: 14px;
  }
  .dsums .p2 {
    font-size: 16px;
  }
  .page-404 {
    padding: 30px;
  }
  .page-404 .texto {
    margin-top: 0px;
  }
  .page-404 p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
  }
  .page-404 a {
    font-size: 13px;
    transition: all .33s ease-in-out;
    -moz-transition: all .33s ease-in-out;
    -webkit-transition: all .33s ease-in-out;
  }
  .page-404 a:hover {
    background-color: #646464;
  }
  .top-order {
    margin-top: 0px;
    margin-bottom: 25px;
  }
  .top-order .sc-left {
    margin-bottom: 15px;
  }
  .top-order .sc-left form {
    width: 100%;
  }
  .top-order .sc-left form input[type="text"] {
    height: 35px;
  }
  .top-order .sc-left form input[type="submit"] {
    height: 35px;
  }
  .top-order .sc-right select {
    width: 150px;
    height: 30px;
    padding-left: 8px;
    float: left;
    font-size: 14px;
  }
  .bg-concessionarias {
    padding-top: 25px;
    padding-bottom: 10px;
  }
  .bg-concessionarias h3 {
    font-size: 17px;
  }
  .bg-concessionarias .concessionaria {
    width: 50%;
    margin-bottom: 15px;
  }
  .bg-concessionarias .concessionaria h4 {
    font-size: 14px;
  }
  .bg-concessionarias .concessionaria a {
    font-size: 15px;
  }
  #box-whatsapp {
    width: 32px;
    bottom: 8px;
    right: none;
    left: 5px;
  }
  #box-whatsapp img {
    max-width: 32px;
  }
  .bg-gallery .galeria .ig {
    width: 50%;
    display: inline-block;
  }
  .bg-gallery .galeria img {
    margin-bottom: 8px;
    width: 90%;
  }
  .button-gi {
    margin-top: 25px;
  }
  .button-gi a {
    font-size: 13px;
  }
  .box-acept-cookies {
    bottom: auto;
    top: 10px;
    display: none;
  }
  .box-acept-cookies .box-content {
    width: 90%;
    max-width: 340px;
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .box-acept-cookies .box-content p {
    font-size: 15px;
    line-height: 17px;
  }
  .box-acept-cookies .box-content a {
    font-size: 14px;
    line-height: 14px;
    padding: 5px 10px 5px 10px;
    margin-left: 15px;
  }
  .bg-menu-options {
    width: 100%;
    top: 0px;
    z-index: 999;
  }
  .bg-menu-options ul {
    width: 100%;
    float: left;
    position: relative;
    border-radius: 0 0 2px 2px;
  }
  .bg-menu-options ul li {
    display: inline-table;
    margin-bottom: 0px;
    list-style: none;
    border-right: 0px;
    width: 33%;
  }
  .bg-menu-options ul li a {
    width: 100%;
    font-size: 14px;
    line-height: 14px;
    padding: 8px 0px 10px 0px;
  }
  .bg-menu-options ul li a i {
    font-size: 12px;
    margin-right: 3px;
  }
  .h2-hp {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 16px;
  }
  .box-cookies-navegation .box-content {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .box-cookies-navegation .box-content p {
    font-size: 15px;
    line-height: 21px;
  }
  .box-cookies-navegation .box-content .btn-acept {
    display: inline-block;
    background-color: #FF3B3F;
    color: #FFF;
    font-size: 16px;
    line-height: 16px;
    padding: 14px 10px 14px 10px;
    border-radius: 5px;
    margin-left: 20px;
  }
}
