.new-datait {
    width: 200px;
    padding: 10px;
    margin: 0 auto;
    background-color: #999;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 2px 2px 7px #ccc;
    -webkit-box-shadow: 2px 2px 7px #ccc;
    -moz-box-shadow: 2px 2px 7px #ccc;
}

.new-datait:hover {
    background-color: #333;
}

.list-table-info {
    width: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    background-color: #E1E1E1;
    text-align: center;
    margin-top: 30px;
}

.list-table-info input[type="text"] {
    width: 44%;
    margin-left: 2%;
    margin-right: 2%;
    height: 30px;
    display: inline-block;
}