@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
  unicode-range: U0460-052F, U1C 79C 88, U20B 4, U2DE -2DFF, UA640-A69F, UFE2E-FE2F;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
  unicode-range: U0400-045F, U0490-0491, U04B -4B 1, U2116;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
  unicode-range: U1F -1FFF;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
  unicode-range: U0370-03FF;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
  unicode-range: U0102-0103, U0110-0111, U1EA -1EF 9, U20AB;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
  unicode-range: U0100-024F, U0259, U1E -1EFF, U2020, U20A -20AB, U20AD-20CF, U2113, U2C 58C 7F, UA720-A7FF;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U0000-00FF, U0131, U0152-0153, U02BB-02BC, U02C 6, U02DA, U02DC, U2000-206F, U2074, U20AC, U2122, U2191, U2193, U2212, U2215, UFEFF, UFFFD;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format('woff2');
  unicode-range: U0460-052F, U1C 79C 88, U20B 4, U2DE -2DFF, UA640-A69F, UFE2E-FE2F;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format('woff2');
  unicode-range: U0400-045F, U0490-0491, U04B -4B 1, U2116;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format('woff2');
  unicode-range: U1F -1FFF;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format('woff2');
  unicode-range: U0370-03FF;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format('woff2');
  unicode-range: U0102-0103, U0110-0111, U1EA -1EF 9, U20AB;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');
  unicode-range: U0100-024F, U0259, U1E -1EFF, U2020, U20A -20AB, U20AD-20CF, U2113, U2C 58C 7F, UA720-A7FF;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
  unicode-range: U0000-00FF, U0131, U0152-0153, U02BB-02BC, U02C 6, U02DA, U02DC, U2000-206F, U2074, U20AC, U2122, U2191, U2193, U2212, U2215, UFEFF, UFFFD;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: .67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: 700;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}
@media (min-width: 550px) {
  .container {
    width: 80%;
  }
  .column,
  .columns {
    margin-left: 4%;
  }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }
  .one.column,
  .one.columns {
    width: 4.66666666667%;
  }
  .two.columns {
    width: 13.3333333333%;
  }
  .three.columns {
    width: 22%;
  }
  .four.columns {
    width: 30.6666666667%;
  }
  .five.columns {
    width: 39.3333333333%;
  }
  .six.columns {
    width: 48%;
  }
  .seven.columns {
    width: 56.6666666667%;
  }
  .eight.columns {
    width: 65.3333333333%;
  }
  .nine.columns {
    width: 74%;
  }
  .ten.columns {
    width: 82.6666666667%;
  }
  .eleven.columns {
    width: 91.3333333333%;
  }
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }
  .one-third.column {
    width: 30.6666666667%;
  }
  .two-thirds.column {
    width: 65.3333333333%;
  }
  .one-half.column {
    width: 48%;
  }
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%;
  }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%;
  }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%;
  }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78%;
  }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }
  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%;
  }
}
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: 400;
}
ul {
  list-style: circle inside;
}
ol {
  list-style: decimal inside;
}
ol,
ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}
li {
  margin-bottom: 1rem;
}
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}
.u-pull-right {
  float: right;
}
.u-pull-left {
  float: left;
}
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}
.mfp-bg,
.mfp-wrap {
  position: fixed;
  left: 0;
  top: 0;
}
.mfp-bg,
.mfp-container,
.mfp-wrap {
  height: 100%;
  width: 100%;
}
.mfp-arrow:after,
.mfp-arrow:before,
.mfp-container:before,
.mfp-figure:after {
  content: '';
}
.mfp-bg {
  z-index: 1042;
  overflow: hidden;
  background: #0b0b0b;
  opacity: .8;
}
.mfp-arrow,
.mfp-close:focus,
.mfp-close:hover {
  opacity: .65;
}
.mfp-wrap {
  z-index: 1043;
  outline: 0 !important;
  -webkit-backface-visibility: hidden;
}
.mfp-container {
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}
.mfp-container:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.mfp-align-top .mfp-container:before {
  display: none;
}
.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}
.mfp-ajax-holder .mfp-content,
.mfp-inline-holder .mfp-content {
  width: 100%;
  cursor: auto;
}
.mfp-ajax-cur {
  cursor: progress;
}
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
.mfp-auto-cursor .mfp-content {
  cursor: auto;
}
.mfp-arrow,
.mfp-close,
.mfp-counter,
.mfp-preloader {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.mfp-loading.mfp-figure {
  display: none;
}
.mfp-hide {
  display: none !important;
}
.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}
.mfp-preloader a {
  color: #CCC;
}
.mfp-close,
.mfp-close-btn-in .mfp-close,
.mfp-preloader a:hover {
  color: #FFF;
}
.mfp-s-error .mfp-content,
.mfp-s-ready .mfp-preloader {
  display: none;
}
button.mfp-arrow,
button.mfp-close {
  overflow: visible;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: 0;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.mfp-close {
  position: fixed;
  right: 25px;
  top: 10px;
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-size: 44px;
}
.mfp-close:active {
  top: 1px;
}
.mfp-iframe-holder .mfp-close,
.mfp-image-holder .mfp-close {
  color: #FFF;
  text-align: right;
  width: auto;
  right: 10px;
}
.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}
.mfp-figure,
img.mfp-img {
  line-height: 0;
}
.mfp-arrow {
  position: absolute;
  margin: -55px 0 0;
  top: 50%;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}
.mfp-arrow:active {
  margin-top: -54px;
}
.mfp-arrow:focus,
.mfp-arrow:hover {
  opacity: 1;
}
.mfp-arrow:after,
.mfp-arrow:before {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: inset transparent;
}
.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}
.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: .7;
}
.mfp-arrow-left {
  left: 0;
}
.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px;
}
.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F;
}
.mfp-arrow-right {
  right: 0;
}
.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px;
}
.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F;
}
.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}
.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}
.mfp-image-holder .mfp-content,
img.mfp-img {
  max-width: 100%;
}
.mfp-iframe-holder .mfp-close {
  top: -40px;
}
.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}
.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0,0,0,0.6);
  background: #000;
}
.mfp-figure:after,
img.mfp-img {
  width: auto;
  height: auto;
  display: block;
}
img.mfp-img {
  box-sizing: border-box;
  padding: 40px 0;
  margin: 0 auto;
}
.mfp-figure:after {
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  right: 0;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0,0,0,0.6);
  background: #444;
}
.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}
.mfp-figure figure {
  margin: 0;
}
.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}
.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}
.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}
@media screen and (max-width: 800px) and (orientation: landscape),screen and (max-height: 300px) {
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0,0,0,0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0,0,0,0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(.75);
    transform: scale(.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
.bx-wrapper {
  position: relative;
  padding: 0;
  *zoom: 1;
}
.bx-wrapper img {
  max-width: 100%;
  display: block;
}
.bx-wrapper .bx-viewport {
  border: 0px;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -40px;
  width: 100%;
}
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../bxslider/images/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  text-indent: -9999px;
  display: block;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 50%;
  background: #ccc;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #B61C32;
}
.bx-wrapper .bx-prev {
  z-index: 0 !important;
  left: 10px;
  background: url(../bxslider/images/prev.png) no-repeat center center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  border-radius: 3px;
}
.bx-wrapper .bx-next {
  z-index: 0 !important;
  right: 10px;
  background: url(../bxslider/images/next.png) no-repeat center center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  border-radius: 3px;
}
.box-cinema-home .bx-wrapper .bx-prev {
  background-color: transparent;
}
.box-cinema-home .bx-wrapper .bx-next {
  background-color: transparent;
}
.bx-wrapper .bx-prev:hover {
  opacity: 0.7;
}
.bx-wrapper .bx-next:hover {
  opacity: 0.7;
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
.bx-wrapper .bx-controls-auto {
  text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666 \9;
  background: rgba(80,80,80,0.75);
  width: 100%;
}
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}
#bannerslider {
  margin-bottom: 80px;
}
#bannerslider .bx-wrapper .bx-pager a {
  display: inline-block !important;
}
#bannerslider-mobile {
  display: none;
}
.banner-single img {
  width: 100%;
  max-width: 1920px;
}
.wfull {
  width: 100%;
  height: auto;
  display: table;
}
.clear {
  clear: both;
}
input:invalid {
  box-shadow: none;
}
textarea:invalid {
  box-shadow: none;
}
* {
  padding: 0;
  border: 0;
  margin: 0;
}
a,
img {
  border: 0;
  text-decoration: none;
}
input {
  outline: none;
}
html,
body {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif !important;
  height: 100%;
  font-weight: 400;
}
.container-fix {
  width: auto;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.msg-add-sucess {
  width: 94%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #FFF;
  background-color: green;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  padding: 3%;
  border-radius: 5px;
  font-weight: 700;
}
.formc {
  color: #3A3A3A;
}
.formc input[type="text"],
.formc input[type="email"],
.formc input[type="tel"],
.formc input[type="password"] {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 5px;
}
.formc textarea {
  width: 100%;
  height: 113px;
  margin-bottom: 30px;
  border-radius: 5px;
}
.formc select {
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
  color: #767676;
  border-radius: 5px;
}
.formc input[type="submit"] {
  width: 200px;
  border: 0px;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #FFF;
  font-weight: 800;
  background-color: #B61C32;
  font-size: 12px;
  letter-spacing: 0px;
  border-radius: 5px;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.formc input[type="submit"]:hover {
  background-color: #3A3A3A;
}
.formc .rcp {
  font-size: 18px;
  margin-bottom: 50px;
  text-align: left;
  color: #3A3A3A;
}
.formc .rcp .tl {
  text-align: right;
  font-weight: 700;
}
.formc .rcp label {
  display: inline-block;
  margin-right: 30px;
  font-weight: 400;
  cursor: pointer;
  margin-top: 2px;
}
.formc .rcp input[type="checkbox"] {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  padding: 5px;
  margin-right: 8px;
  margin-bottom: 0px;
}
.msg-send-form {
  display: none;
  color: #3A3A3A;
}
header {
  width: 100%;
  height: auto;
  display: table;
}
.bg1 {
  width: 100%;
  height: auto;
  display: table;
  background-color: #F4F4F4;
  border-bottom: 1px solid #D8D8D8;
  padding-top: 25px;
  padding-bottom: 20px;
  text-align: right;
}
.bg1 .search form {
  width: 250px;
  float: right;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  margin-right: -50px;
}
.bg1 .search form input[type="text"],
.bg1 .search form input[type="email"],
.bg1 .search form input[type="tel"] {
  padding: 0px;
  height: 35px;
  width: 82%;
  padding-left: 10px;
  margin: 0px;
  display: inline-block;
  float: left;
  border: 0px;
  font-size: 14px;
  color: #3A3A3A;
  border-radius: 5px 0px 0px 5px;
}
.bg1 .search form input[type="submit"] {
  width: 18%;
  height: 35px;
  display: inline-block;
  color: #FFF;
  background: url(../img/icon_search.png) no-repeat center center;
  background-color: #FFF;
  color: #999;
  margin: 0px;
  padding: 0px;
  float: left;
  border: 0px;
  border-radius: 0px 5px 2px 5px;
}
.bg1 .right-b1 .loginc {
  display: inline-block;
  font-size: 15px;
  background-color: #3A3A3A;
  color: #FFF;
  padding: 5px 13px 5px 13px;
  border-radius: 6px;
  margin-top: 3px;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.bg1 .right-b1 .loginc:hover {
  background-color: #B61C32;
}
.bg1 .right-b1 .loginc i {
  margin-right: 10px;
}
.bgh2 {
  margin-bottom: 10px;
}
.bgh2 .logo img {
  width: 100%;
  max-width: 230px;
  margin-top: -60px;
}
.bgh2 .openmenu {
  width: 40px;
  float: right;
  display: none;
  cursor: pointer;
  margin-top: 30px;
}
.bgh2 .openmenu span {
  display: block;
  height: 5px;
  background-color: ;
  border-radius: 5px;
  margin-bottom: 5px;
}
.bgh2 #bgmenu {
  margin-top: 50px;
}
.bgh2 #bgmenu ul {
  list-style: none;
  margin-bottom: 0px;
  text-align: right;
}
.bgh2 #bgmenu ul .li-close {
  display: none;
  text-align: right;
}
.bgh2 #bgmenu ul .li-close a {
  border-bottom: 0px;
}
.bgh2 #bgmenu ul .li-close a img {
  width: 20px;
  display: inline-block;
  margin-right: 10px;
}
.bgh2 #bgmenu ul .li-close a:hover {
  border-bottom: 0px;
}
.bgh2 #bgmenu ul li {
  display: inline-block;
  margin-bottom: 0px;
}
.bgh2 #bgmenu ul li a {
  border-bottom: 2px solid transparent;
  color: #3A3A3A;
  text-transform: uppercase;
  font-size: 18px;
  padding-bottom: 3px;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.bgh2 #bgmenu ul li a:hover {
  color: #B61C32;
}
.bgh2 #bgmenu ul li .m-active {
  color: #B61C32;
}
.bgh2 #bgmenu ul .space {
  margin-left: 33px;
  margin-right: 33px;
}
.bgh2 #bgmenu ul .space span {
  opacity: 0.5;
}
.bg-gray {
  width: 100%;
  height: auto;
  display: table;
  background-color: #F4F4F4;
  border-top: 1px solid #D8D8D8;
}
.bgpb {
  padding-bottom: 60px;
}
.h1p {
  color: #B61C32;
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.h1p-home {
  color: #B61C32;
  font-size: 32px;
  margin-top: 60px;
  margin-bottom: 40px;
}
.breadcrumb {
  font-size: 12px;
  font-weight: 600;
  margin-top: 20px;
}
.breadcrumb a,
.breadcrumb span {
  display: inline-block;
  color: #B61C32;
}
.breadcrumb a:hover,
.breadcrumb span:hover {
  color: #808285;
}
.breadcrumb a:last-child {
  color: #808285;
}
.breadcrumb i {
  color: #808285;
  margin-left: 8px;
  margin-right: 8px;
}
.breadcrumb i img {
  width: 8px;
}
.menu-ln {
  background-color: #FFF;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 6px #DBDBDB;
  -webkit-box-shadow: 3px 3px 6px #DBDBDB;
}
.menu-ln .tfilter {
  width: 100%;
  display: inline-block;
  color: #B61C32;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu-ln .tfilter i {
  margin-left: 10px;
}
.menu-ln .box-categorias a {
  display: block;
  padding: 8px;
  padding-left: 15px;
  text-transform: uppercase;
  color: #3A3A3A;
  font-size: 14px;
  font-weight: 700;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.menu-ln .box-categorias a i {
  float: right;
  display: none;
}
.menu-ln .box-categorias a:hover {
  background-color: #B61C32;
  color: #FFF;
}
.menu-ln .box-categorias a:hover i {
  display: block;
}
.menu-ln .box-categorias .sub {
  font-size: 13px;
  padding: 5px;
  padding-left: 30px;
  color: #616161;
}
.menu-ln .box-categorias .as-active {
  background-color: #B61C32;
  color: #FFF;
}
.menu-ln .box-categorias .as-active i {
  display: block;
}
.produto-list {
  margin-bottom: 50px;
  background-color: #FFF;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 3px 3px 6px #DBDBDB;
  -webkit-box-shadow: 3px 3px 6px #DBDBDB;
  color: #3A3A3A;
}
.produto-list img {
  width: 100%;
  max-width: 265px;
  margin-bottom: 15px;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.produto-list img:hover {
  opacity: 0.5;
}
.produto-list a {
  width: 100%;
  display: inline-block;
}
.produto-list .title {
  color: #3A3A3A;
  height: auto;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 10px;
  line-height: 25px;
  min-height: 49px;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.produto-list .title:hover {
  color: #B61C32;
}
.produto-list .price {
  color: #B61C32;
  font-size: 20px;
  height: auto;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 20px;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.produto-list .price:hover {
  color: #3A3A3A;
}
.produto-list .buttons a {
  display: inline-table;
  color: #FFF;
  text-align: center;
  font-size: 11px;
  line-height: 13px;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  background-color: #B61C32;
  text-transform: uppercase;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.produto-list .buttons a i {
  margin-right: 5px;
}
.produto-list .buttons a:hover {
  background-color: #3A3A3A;
}
.box-login-cadastro {
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 6px #DBDBDB;
  -webkit-box-shadow: 3px 3px 6px #DBDBDB;
  color: #3A3A3A;
}
.box-login-cadastro h2 {
  color: #B61C32;
  text-align: center;
  margin-bottom: 40px;
}
.box-login-cadastro label {
  margin-bottom: 5px;
  font-weight: 400;
}
.box-login-cadastro label span {
  font-size: 11px;
}
.box-login-cadastro #loadcep {
  position: absolute;
  margin-top: 68px;
  margin-left: -40px;
  font-size: 12px;
  display: none;
}
.box-login-cadastro input[type="text"],
.box-login-cadastro input[type="email"],
.box-login-cadastro input[type="tel"],
.box-login-cadastro input[type="password"] {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  height: 40px;
}
.box-login-cadastro select {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  color: #767676;
  border-radius: 5px;
}
.box-login-cadastro input[type="submit"] {
  width: 200px;
  border: 0px;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
  color: #FFF;
  font-weight: 800;
  background-color: #B61C32;
  font-size: 12px;
  letter-spacing: 0px;
  border-radius: 5px;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.box-login-cadastro input[type="submit"]:hover {
  background-color: #3A3A3A;
}
.box-login-cadastro .forget {
  display: table;
  font-size: 14px;
  cursor: pointer;
  margin-top: -10px;
}
.box-login-cadastro .forget:hover {
  text-decoration: underline;
}
.box-login-cadastro .row-buttons {
  text-align: right;
}
#formForget {
  display: none;
}
.blc-change {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 50px;
}
.popup-add-product {
  width: 100%;
  max-width: 400px;
  background-color: #FFF;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.popup-add-product a {
  display: inline-block;
  color: #3A3A3A;
  font-weight: 700;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 4px 20px 4px 20px;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.popup-add-product a i {
  margin-right: 5px;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.popup-add-product a:hover {
  background-color: #3A3A3A;
  color: #FFF;
  border: 1px solid #3A3A3A;
}
.popup-add-product a:hover i {
  color: #FFF;
}
.popup-add-product .viewc i {
  color: #2DA34A;
}
.popup-add-product .close {
  margin-left: 30px;
}
.popup-add-product .close i {
  color: #B61C32;
}
.popup-add-product p {
  font-size: 17px;
  line-height: 25px;
  font-weight: 600;
  margin-bottom: 30px;
}
.popup-add-product .padd {
  color: #2DA34A;
}
.popup-add-product .p-pontos {
  color: #B61C32;
}
.show-loader {
  width: 100%;
  height: 50px;
  color: #FFF;
  text-align: center;
}
.texto p {
  color: #3A3A3A;
  font-size: 17px;
  line-height: 25px;
}
#formContult {
  width: 600px;
  margin: 0 auto;
}
#formContult input[type="submit"] {
  margin-top: 25px;
}
.box-right-info .pontos {
  font-size: 28px;
  color: #B61C32;
  margin-bottom: 10px;
}
.box-right-info .line {
  display: table;
  width: 66px;
  height: 4px;
  background-color: #B61C32;
  margin-bottom: 20px;
  border-radius: 2px;
}
.row-add-car {
  margin-top: 30px;
}
.row-add-car a {
  display: inline-block;
  background-color: #B61C32;
  color: #FFF;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.row-add-car a i {
  margin-right: 10px;
}
.row-add-car a:hover {
  background-color: #3A3A3A;
}
footer {
  width: 100%;
  height: auto;
  display: table;
  height: 250px;
  background-color: #F4F4F4;
}
.cabecalho-produto {
  background-color: #3A3A3A;
  padding: 20px;
  color: #FFF;
  font-size: 15px;
  font-weight: 600;
}
.list-orcamento {
  border: 1px solid #E5E5E5;
  background-color: #FFF;
  border-top: 0px;
  padding: 20px;
}
.list-orcamento .title-produto img {
  width: 80px;
  float: left;
  display: inline-block;
  margin-right: 15px;
  border: 1px solid #F2F2F2;
}
.list-orcamento .title-produto span {
  float: left;
  display: inline-block;
  color: #3A3A3A;
  font-size: 15px;
  font-weight: 700;
  margin-top: 14px;
}
.list-orcamento .title-produto span .pontos {
  color: #B61C32;
}
.list-orcamento .quantidade .left-qtd {
  width: 60px;
}
.list-orcamento .quantidade input[type="text"],
.list-orcamento .quantidade input[type="email"],
.list-orcamento .quantidade input[type="tel"] {
  width: 100%;
  height: 45px;
  margin-bottom: 0px;
  border-radius: 5px;
}
.list-orcamento .quantidade a {
  display: inline-block;
}
.list-orcamento .quantidade a i {
  color: #3A3A3A;
  font-size: 23px;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.list-orcamento .quantidade a i:hover {
  color: #B61C32;
}
.list-orcamento .delete {
  text-align: center;
}
.list-orcamento .delete a {
  display: inline-block;
  color: #B61C32;
  font-size: 22px;
  margin-top: 8px;
  transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -webkit-transition: all .33s ease-in-out;
}
.list-orcamento .delete a:hover {
  color: #3A3A3A;
}
.row-form-orc {
  margin-top: 80px;
  text-align: center;
}
.row-form-orc p {
  font-size: 18px;
  margin-bottom: 20px;
}
.row-form-orc input[type="submit"] {
  width: 58%;
  height: 50px;
  font-size: 17px;
}
@media (max-width: 1120px) {
  .container-fix {
    padding-left: 20px;
    padding-right: 20px;
  }
  .bg1 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .bg1 i {
    font-size: 17px;
    margin-left: 15px;
  }
  .bgh2 .logo {
    width: 80% !important;
    float: left;
    margin: 0px;
  }
  .bgh2 .logo img {
    width: 95%;
    max-width: 150px;
  }
  .bgh2 .m-right {
    width: 20% !important;
    float: right;
    margin: 0px;
  }
  .bgh2 .openmenu {
    display: table;
  }
  .bgh2 #bgmenu {
    display: none;
    text-align: left;
    background-color: #000;
    opacity: 0.9;
    padding-top: 20px;
    padding-bottom: 25px;
    position: absolute;
    z-index: 999;
    width: 100%;
    left: 0;
    top: -70px;
  }
  .bgh2 #bgmenu ul {
    text-align: center;
  }
  .bgh2 #bgmenu ul .li-close {
    display: block;
    margin-bottom: 0px;
  }
  .bgh2 #bgmenu ul li {
    display: block;
    margin-bottom: 15px;
  }
  .bgh2 #bgmenu ul li a {
    color: #FFF;
    margin-left: 0px;
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  #bannerslider {
    display: none;
  }
  #bannerslider-mobile {
    display: block;
  }
}
